wp-content/themes/top/assets/access.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body class="home" id="top">
  <div id="wrap">
    <header class="main_header">
      <h1 class="logo" title="学びの森"><img src="./images/logo-2.png" alt="学びの森" width="340"></h1>
    </header>
    <section class="sub_header"><a href="http://tanq.manabinomori.co.jp/" targe="_blank"><img src="./images/btn_top_tankyu-2.png" alt="= 学習塾 = 学びの森 探求スクール" width="229"></a><a class="nolink" href=""><img src="./images/btn_top_freeschool-2.png" width="230" alt="= 京都府教育委員会認定フリースクール = 学びの森 フリースクール"></a><a class="nolink" href=""><img src="./images/btn_top_highschool-2.png" width="231" alt="= 通信制サポート校 = 学びの森 ハイスクール"></a></section>
    <p class="inquiry ac"><a href="http://tanq.manabinomori.co.jp/contact/" targe="_blank"><img src="./images/btn_to_inquiry.png" alt="お問い合わせ" width="416"></a></p>
    <p class="ac txt"><img src="./images/top_text_01.png" alt="みなさまに長年にわたり親しんでいただいた「アウラ」「知誠館」の名を2017年より 学びの森 に変更いたしました。森には様々な命が息づいています。ここでは、学校のように誰もが同じことをめざすわけではありません。一人ひとりの子どもたちがそれぞれのペースで学び、ワクワクしながら探究を続け、自分の人生を切り拓くための答えを創り出していく。そんな豊かな学びの世界をめざします。私たちは、学びの森のような場所が社会の中に増えていくことを願っています。" width="1092"></p>
    <header class="lower_header lower_header--access">
      <h1 class="ttl"><span>アクセス・概要</span></h1>
    </header>
    <div class="backgrond-color--lightblue">
      <div class="backgrond-color__inner">
        <div class="content_area">
          <nav class="page_nav">
            <ul>
              <li><a href="#con1">法人概要</a></li>
              <li><a href="#con2">アクセス</a></li>
              <li><a href="#con3">連携・協力団体</a></li>
              <li><a href="#con4">メディア掲載</a></li>
              <li><a href="#con5">これまでの歩み</a></li>
            </ul>
          </nav>
          <section class="tab_content tab_content--first" id="con1">
            <header class="text_img">
              <h2 class="ttl--about"><span>法人概要</span></h2>
            </header>
            <div class="table_wrapper--basic_table">
              <table>
                <tr>
                  <th>名称</th>
                  <td>有限会社　グローバル教育研究所</td>
                </tr>
                <tr>
                  <th>代表</th>
                  <td>北村 真也</td>
                </tr>
                <tr>
                  <th>連絡先</th>
                  <td>〒621-0846　京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5800　FAX: 0771-29-5805</td>
                </tr>
                <tr>
                  <th>グループ法人</th>
                  <td>
                    <p><a href="">・一般社団法人 さよなら不登校</a></p>
                    <p><a href="">・任意団体 小さな森の実行委員会</a></p>
                  </td>
                </tr>
                <tr>
                  <th>グループ事業内容</th>
                  <td>
                    <p>
                      【有限会社グローバル教育研究所】<br>
                      ・フリースクール（京都府教育委員会認定）<br>
                      ・ハイスクール（通信制サポート校）<br>
                      ・探究スクール（学習塾）<br>
                      〖一般社団法人さよなら不登校】<br>
                      ・不登校、ひきこもり相談<br>
                      ・ペアレントサポート<br>
                      【任意団体小さな森の実行委員会】<br>
                      ・なんたんラウンドテーブル<br>
                      ・森の語り場　<br>
                      ・森の出会い場　　　　　　　　　<br>
                      ・森の学び場
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>グループ事業Webサイト</th>
                  <td>
                    <div class="inner_table">
                      <div class="row">
                        <div class="col">・学びの森</div>
                        <div class="col"><a href=""><img src="./images/relate_logo_1.png" alt="学びの森" width="87"></a></div>
                      </div>
                      <div class="row">
                        <div class="col">・学びの森 探究スクール</div>
                        <div class="col"><a href=""><img src="./images/relate_logo_2.png" alt="学びの森 探究スクール" width="85"></a></div>
                      </div>
                      <div class="row">
                        <div class="col">・学びの森 フリースクール</div>
                        <div class="col"><a href=""><img src="./images/relate_logo_3.png" alt="学びの森 フリースクール" width="85"></a></div>
                      </div>
                      <div class="row">
                        <div class="col">・学びの森 ハイスクール</div>
                        <div class="col"><a href=""><img src="./images/relate_logo_4.png" alt="学びの森 ハイスクール" width="85"></a></div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>委託事業</th>
                  <td>
                    <p>
                      ・民間施設連携支援実践調査研究委託事業（府教委2005-2006）<br>
                      ・フリースクール連携推進事業（府教委2007-2013）<br>
                      ・学校復帰支援事業（府教委2014）<br>
                      ・生徒指導・進路指導総合推進事業（文科省2012）<br>
                      ・いじめ対策等生徒指導推進事業（文科省2013、2015）<br>
                      ・初期型ひきこもり訪問応援「チーム絆」地域推進事業（京都府2009-2011）<br>
                      ・子ども若者自立支援訪問事業（京都府2012-2016）<br>
                      ・フリースクール等で学ぶ不登校児童生徒への支援モデル事業（府教委2016）
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </section>
          <section class="tab_content" id="con2">
            <header class="text_img">
              <h2 class="ttl--access"><span>アクセス</span></h2>
            </header>
            <div class="area--normal_border">
              <div class="col--left">
                <h3 class="ttl">● 本社・かめおか教室</h3>
                <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="398" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                <div class="txt">
                  <p>
                    【電車・バス】<br>
                    JR嵯峨野線「亀岡」駅（京都駅より快速20分）<br>
                    →　京阪バス「30・32・34・36」番　1番のりば（約15分）<br>
                    →「大葉台２丁目」バス停からすぐ<br>
                    バス時刻表へ<br>
                    JR嵯峨野線「馬堀」駅（京都駅より普通23分）<br>
                    →　京阪バス「34・35・36・38」番　1番のりば（約15分）<br>
                    →「大葉台２丁目」バス停からすぐ<br>
                    バス時刻表へ<br>
                    <br>
                    【車】<br>
                    京都駅より約45分<br>
                    京都縦貫道　篠IC下車5分
                  </p>
                </div>
              </div>
              <div class="col--right">
                <h3 class="ttl">● 探究スクールきょうと</h3>
                <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.9102005693812!2d135.76136901566105!3d34.983913980362765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600108b2e45fc9af%3A0xdea7806c553fde81!2z44CSNjAxLTgwMDUg5Lqs6YO95bqc5Lqs6YO95biC5Y2X5Yy65p2x5Lmd5p2h6KW_5bKp5pys55S677yR77yW4oiS77yS!5e0!3m2!1sja!2sjp!4v1486901872343" width="398" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                <div class="txt">
                  <p>
                    京都市南区東九条西岩本町16－2<br>
                    <br>
                    JR「京都」駅八条口から徒歩7分
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="tab_content" id="con3">
            <header class="text_img">
              <h2 class="ttl--relation"><span>連携・協力団体</span></h2>
            </header>
            <div class="table_wrapper--basic_table">
              <table>
                <tr>
                  <th>行政機関</th>
                  <td>京都府教育委員会、京都市教育委員会、各市町村教育委員会、文部科学省、京都府青少年課</td>
                </tr>
                <tr>
                  <th>大学・研究機関</th>
                  <td>立命館大学、京都学園大学</td>
                </tr>
                <tr>
                  <th>学校</th>
                  <td>各公立・私立小中高等学校、支援学校</td>
                </tr>
                <tr>
                  <th>福祉・医療</th>
                  <td>
                    京都府家庭支援相談センター/京都市パトナ/京都府南丹保健所/<br>
                    丹波支援学校地域支援センター/花の木医療センター/社会福祉法人松花苑/<br>
                    亀岡市社会福祉協議会/もみじクリニック/ますい心療内科/京都ユースサービス協会
                  </td>
                </tr>
              </table>
            </div>
          </section>
          <section class="tab_content" id="con4">
            <header class="text_img">
              <h2 class="ttl--media"><span>メディア掲載</span></h2>
            </header>
            <div class="table_wrapper--basic_table">
              <table>
                <tr>
                  <th>2016年3月</th>
                  <td><a href="">京都新聞、毎日新聞にて学びの森企画の「不登校・ひきこもりを考える京都フォーラム」が取り上げられました。</a></td>
                </tr>
                <tr>
                  <th>2015年7月</th>
                  <td><a href="">京都新聞にて学びの森のプログラム「森の出会い場」が取り上げられました。</a></td>
                </tr>
                <tr>
                  <th>2015年4月</th>
                  <td><a href="">NHK「ニュースおはよう日本」にて学びの森が取り上げられました。</a></td>
                </tr>
                <tr>
                  <th>2015年3月</th>
                  <td><a href="">京都新聞にて学びの森企画の「公開ラウンドテーブル」が取り上げられました。</a></td>
                </tr>
                <tr>
                  <th>2014年3月</th>
                  <td><a href="">京都新聞にて学びの森の「小さな森」が取り上げられました。</a></td>
                </tr>
                <tr>
                  <th>2012年12月</th>
                  <td><a href="">京都新聞にて学びの森企画の「京都ラウンドテーブル（現：なんたんラウンドテーブル）」が取り上げられました。</a></td>
                </tr>
              </table>
            </div>
          </section>
          <section class="tab_content" id="con5">
            <header class="text_img">
              <h2 class="ttl--history"><span>これまでの歩み</span></h2>
            </header>
            <div class="area--wave_border">
              <table class="table--simple">
                <tr>
                  <th>2000年</th>
                  <td>
                    <p>学習者主体のラーニング・コミュニティとして「アウラ学びの森」開校<br>その実践を研究、報告する目的で「グローバル教育研究所」併設</p>
                  </td>
                </tr>
                <tr>
                  <th>2003年</th>
                  <td>
                    <p>アウラ学びの森に一人の不登校の生徒が訪れる。知誠館開設のきっかけとなる</p>
                  </td>
                </tr>
                <tr>
                  <th>2005年</th>
                  <td>
                    <p>学校へ行かない小中学生のためのフリースクール、高校の転入や編入を希望する若者たちのための通信制高校サポート校や高認予備校として、「知誠館」がアウラ学びの森に併設される</p>
                  </td>
                </tr>
                <tr>
                  <th>2007年</th>
                  <td>
                    <p>京都府教育委員会「フリースクール連携推進事業」受託</p>
                  </td>
                </tr>
                <tr>
                  <th>2008年</th>
                  <td>
                    <p>京都府教育委員会「認定フリースクール」指定</p>
                  </td>
                </tr>
                <tr>
                  <th>2009年</th>
                  <td>
                    <p>京都府青少年課「初期型ひきこもり訪問応援チーム絆地域推進事業」受託</p>
                  </td>
                </tr>
                <tr>
                  <th>2012年</th>
                  <td>
                    <p>文部科学省「生徒指導・進路指導総合推進事業」受託<br>京都府青少年課「子ども若者訪問支援事業」受託</p>
                  </td>
                </tr>
                <tr>
                  <th>2013年</th>
                  <td>
                    <p>代表が国立青少年教育振興機構主催「日独青少年指導者セミナー」参加、渡独<br>文部科学省「いじめ対策等生徒指導推進事業」受託</p>
                  </td>
                </tr>
                <tr>
                  <th>2014年</th>
                  <td>
                    <p>公開ラウンドテーブル「学校へ通わない問題、学校へ通い続ける問題」開催<br>不登校・ひきこもり出張相談「＜チーム絆＞南丹サテライト」開設</p>
                  </td>
                </tr>
                <tr>
                  <th>2015年</th>
                  <td>
                    <p>京都不登校フォーラム「学校へ通わない問題、学校へ通い続ける問題」開催</p>
                  </td>
                </tr>
                <tr>
                  <th>2016年</th>
                  <td>
                    <p>「なんたん子ども若者ネットワーク会議」を開催<br>不登校・ひきこもり出張相談「チーム絆」京丹波サテライト開設</p>
                  </td>
                </tr>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col1 col">
            <p>
              代表　北村 真也<br>
              〒621-0846<br>
              京都府亀岡市南つつじヶ丘大葉台2-44-9<br class="sp"><a href="https://goo.gl/maps/roiBVm4nw9S2" target="_blank"><span>MAP<br></span></a>TEL: 0771-29-5800
            </p>
          </div>
          <div class="col2 col"><a class="nolink" href="http://forest.manabinomori.co.jp"><img src="./images/top_footer_bn_1.png" alt="小さな森の実行委員会" width="147"></a><a href="http://www.kyoto-hikikomori-net.jp/kyoto/kizuna_suport.php" target="_blank"><img src="./images/top_footer_bn_2.png" alt="京都府青少年課チーム絆" width="166"></a></div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/tanq/assets/pug/access.jade
extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--access
		h1.ttl
			span アクセス・概要
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area
				nav.page_nav
					ul
						li
							a(href="#con1") 法人概要
						li
							a(href="#con2") アクセス
						li
							a(href="#con3") 連携・協力団体
						li
							a(href="#con4") メディア掲載
						li
							a(href="#con5") これまでの歩み
				section.tab_content#con1.tab_content--first
					header.text_img
						h2.ttl--about
							span 法人概要
					.table_wrapper--basic_table
						table
							tr
								th 名称
								td 有限会社　グローバル教育研究所
							tr
								th 代表
								td 北村 真也
							tr
								th 連絡先
								td 〒621-0846　京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5800　FAX: 0771-29-5805
							tr
								th グループ法人
								td
									p
										a(href="") ・一般社団法人 さよなら不登校
									p
										a(href="") ・任意団体 小さな森の実行委員会
							tr
								th グループ事業内容
								td
									p
										| 【有限会社グローバル教育研究所】<br>
										| ・フリースクール（京都府教育委員会認定）<br>
										| ・ハイスクール（通信制サポート校）<br>
										| ・探究スクール（学習塾）<br>
										| 〖一般社団法人さよなら不登校】<br>
										| ・不登校、ひきこもり相談<br>
										| ・ペアレントサポート<br>
										| 【任意団体小さな森の実行委員会】<br>
										| ・なんたんラウンドテーブル<br>
										| ・森の語り場　<br>
										| ・森の出会い場　　　　　　　　　<br>
										| ・森の学び場
							tr
								th グループ事業Webサイト
								td
									.inner_table
										.row
											.col ・学びの森
											.col
												a(href="")
													img(src=`${assets_prefix}images/relate_logo_1.png`, alt="学びの森",width="87")
										.row
											.col ・学びの森 探究スクール
											.col
												a(href="")
													img(src=`${assets_prefix}images/relate_logo_2.png`, alt="学びの森 探究スクール",width="85")
										.row
											.col ・学びの森 フリースクール
											.col
												a(href="")
													img(src=`${assets_prefix}images/relate_logo_3.png`, alt="学びの森 フリースクール",width="85")
										.row
											.col ・学びの森 ハイスクール
											.col
												a(href="")
													img(src=`${assets_prefix}images/relate_logo_4.png`, alt="学びの森 ハイスクール",width="85")
							tr
								th 委託事業
								td
									p
										| ・民間施設連携支援実践調査研究委託事業（府教委2005-2006）<br>
										| ・フリースクール連携推進事業（府教委2007-2013）<br>
										| ・学校復帰支援事業（府教委2014）<br>
										| ・生徒指導・進路指導総合推進事業（文科省2012）<br>
										| ・いじめ対策等生徒指導推進事業（文科省2013、2015）<br>
										| ・初期型ひきこもり訪問応援「チーム絆」地域推進事業（京都府2009-2011）<br>
										| ・子ども若者自立支援訪問事業（京都府2012-2016）<br>
										| ・フリースクール等で学ぶ不登校児童生徒への支援モデル事業（府教委2016）
				section.tab_content#con2
					header.text_img
						h2.ttl--access
							span アクセス
					.area--normal_border
						.col--left
							h3.ttl ● 本社・かめおか教室
							.map
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="398" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
							.txt
								p
									| 【電車・バス】<br>
									| JR嵯峨野線「亀岡」駅（京都駅より快速20分）<br>
									| →　京阪バス「30・32・34・36」番　1番のりば（約15分）<br>
									| →「大葉台２丁目」バス停からすぐ<br>
									| バス時刻表へ<br>
									| JR嵯峨野線「馬堀」駅（京都駅より普通23分）<br>
									| →　京阪バス「34・35・36・38」番　1番のりば（約15分）<br>
									| →「大葉台２丁目」バス停からすぐ<br>
									| バス時刻表へ<br>
									| <br>
									| 【車】<br>
									| 京都駅より約45分<br>
									| 京都縦貫道　篠IC下車5分
						.col--right
							h3.ttl ● 探究スクールきょうと
							.map
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.9102005693812!2d135.76136901566105!3d34.983913980362765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600108b2e45fc9af%3A0xdea7806c553fde81!2z44CSNjAxLTgwMDUg5Lqs6YO95bqc5Lqs6YO95biC5Y2X5Yy65p2x5Lmd5p2h6KW_5bKp5pys55S677yR77yW4oiS77yS!5e0!3m2!1sja!2sjp!4v1486901872343" width="398" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
							.txt
								p
									| 京都市南区東九条西岩本町16－2<br>
									| <br>
									| JR「京都」駅八条口から徒歩7分
				section.tab_content#con3
					header.text_img
						h2.ttl--relation
							span 連携・協力団体
					.table_wrapper--basic_table
						table
							tr
								th 行政機関
								td 京都府教育委員会、京都市教育委員会、各市町村教育委員会、文部科学省、京都府青少年課
							tr
								th 大学・研究機関
								td 立命館大学、京都学園大学
							tr
								th 学校
								td 各公立・私立小中高等学校、支援学校
							tr
								th 福祉・医療
								td
									| 京都府家庭支援相談センター/京都市パトナ/京都府南丹保健所/<br>
									| 丹波支援学校地域支援センター/花の木医療センター/社会福祉法人松花苑/<br>
									| 亀岡市社会福祉協議会/もみじクリニック/ますい心療内科/京都ユースサービス協会
				section.tab_content#con4
					header.text_img
						h2.ttl--media
							span メディア掲載
					.table_wrapper--basic_table
						table
							tr
								th 2016年3月
								td
									a(href="") 京都新聞、毎日新聞にて学びの森企画の「不登校・ひきこもりを考える京都フォーラム」が取り上げられました。
							tr
								th 2015年7月
								td
									a(href="") 京都新聞にて学びの森のプログラム「森の出会い場」が取り上げられました。
							tr
								th 2015年4月
								td
									a(href="") NHK「ニュースおはよう日本」にて学びの森が取り上げられました。
							tr
								th 2015年3月
								td
									a(href="") 京都新聞にて学びの森企画の「公開ラウンドテーブル」が取り上げられました。
							tr
								th 2014年3月
								td
									a(href="") 京都新聞にて学びの森の「小さな森」が取り上げられました。
							tr
								th 2012年12月
								td
									a(href="") 京都新聞にて学びの森企画の「京都ラウンドテーブル（現：なんたんラウンドテーブル）」が取り上げられました。
				section.tab_content#con5
					header.text_img
						h2.ttl--history
							span これまでの歩み
					.area--wave_border
						table.table--simple
							tr
								th 2000年
								td
									p 学習者主体のラーニング・コミュニティとして「アウラ学びの森」開校<br>その実践を研究、報告する目的で「グローバル教育研究所」併設
							tr
								th 2003年
								td
									p アウラ学びの森に一人の不登校の生徒が訪れる。知誠館開設のきっかけとなる
							tr
								th 2005年
								td
									p 学校へ行かない小中学生のためのフリースクール、高校の転入や編入を希望する若者たちのための通信制高校サポート校や高認予備校として、「知誠館」がアウラ学びの森に併設される
							tr
								th 2007年
								td
									p 京都府教育委員会「フリースクール連携推進事業」受託
							tr
								th 2008年
								td
									p 京都府教育委員会「認定フリースクール」指定
							tr
								th 2009年
								td
									p 京都府青少年課「初期型ひきこもり訪問応援チーム絆地域推進事業」受託
							tr
								th 2012年
								td
									p 文部科学省「生徒指導・進路指導総合推進事業」受託<br>京都府青少年課「子ども若者訪問支援事業」受託
							tr
								th 2013年
								td
									p 代表が国立青少年教育振興機構主催「日独青少年指導者セミナー」参加、渡独<br>文部科学省「いじめ対策等生徒指導推進事業」受託
							tr
								th 2014年
								td
									p 公開ラウンドテーブル「学校へ通わない問題、学校へ通い続ける問題」開催<br>不登校・ひきこもり出張相談「＜チーム絆＞南丹サテライト」開設
							tr
								th 2015年
								td
									p 京都不登校フォーラム「学校へ通わない問題、学校へ通い続ける問題」開催
							tr
								th 2016年
								td
									p 「なんたん子ども若者ネットワーク会議」を開催<br>不登校・ひきこもり出張相談「チーム絆」京丹波サテライト開設
