wp-content/themes/tanq/assets/pug/concept.jade
extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span コンセプト
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_concept.png`, alt="",width="665").mv
			.backgrond-color__inner
				section.content_area
					h2.subttl 対話を通した深い学びで、「正解」のない時代を生きる力を育てる。
					.txt
						p 大きく葉を広げるヘゴシダの木、色鮮やかな熱帯魚、そしてたくさんの本。
						| 好きな席に座って、先生や仲間と対話をしながら<br>
						| 一人ひとりが自分で読み、調べ、考えながら学習する学びの森。<br>
						| <br>
						| 学校のテストや入試で問われる教科学習に加え、<br>
						| 身近な社会問題、生活の中にある自然科学、時には世界で今起こっていることについて<br>
						| 調べ、考える探究学習に力を入れています。<br>
						| <br>
						| 子どもたちは、学ぶことの楽しさを感じながら<br>
						| 仲間との議論や発表の経験を積み重ね、正解のない時代を生きる力を育みます。
		.backgrond-color--lightgreen
			section
				h2.ttl
					img(src=`${assets_prefix}images/img_concept_1.png`, alt="探究スクールとは 小・中・高 対象 入試対策も！ 国・数・英 教科学習 ワークショップ 探究学習 進学 能動的なキャリア形成", width="533")
				.txtarea
					h3.ttl 2020年からの新大学入試に備えて！
					p 2020年にセンター試験が廃止されます。<br>小論文型が中心となる新大学入試で求められる力は......
					ul.list-style--leaf
						li
							span 複数の情報を統合し、構造化して新しい考えをまとめる力
						li
							span その過程や結果を表現する力
					p 学びの森では、教科学習・探究学習を通してこの2つの力を鍛えます。
			section.msg
				img(src=`${assets_prefix}images/img_concept_2.png`, alt="学びの森代表からのメッセージ 学びの森 代表 北村 真也 「学び」の価値、自分にとっての意味、そして「探究」する喜びを。小学生たちが成人する10年後、社会はどうなっているのでしょうか。この多極化の時代、子どもたちの目の前には私たち親世代の常識が通用しない世界が広がっています。正解なき時代を生き抜く力を育てるため、2020年には大学センター試験が廃止され新しい大学入試へと変わります。これまでの「正解を探す力」ではなく、自ら「正解を創り出す力」が求められるのです。本来学びは、子どもたちに喜びや豊かさを与えるものでした。しかし、学びの価値を感じられぬまま一方的に与えられ続けた子どもたちは、“勉強はつまらない”“嫌だ”と思うようになっていったのです。探究スクールでは、探究する喜びを通じて、学びが自分の可能性を広げ、人生を豊かにするのだと感じてもらいたい。そしてそのために講師たちは、日々新たな「学び」を模索し続けているのです。",width="960")
		.backgrond-color--lightblue.navigation
			.backgrond-color__inner
				section
					header.lower_header--concept_2
						h2.ttl
							span 入学案内
					.btns
						ul
							li
								a(href="/manabi1/")
									img(src=`${assets_prefix}images/concept_btn_1.png`,width="280", alt="小学生3~6年")
							li
								a(href="/manabi2/")
									img(src=`${assets_prefix}images/concept_btn_2.png`,width="280", alt="中学生1~3年")
							li
								a(href="/manabi3/")
									img(src=`${assets_prefix}images/concept_btn_3.png`,width="280", alt="高校生1~3年")
				section
					header.lower_header--concept_3
						h2.ttl
							span 卒業生より
					p
						a(href="/sotsugyo")
							img(src=`${assets_prefix}images/concept_btn_4_off.png`, alt="卒業生のインタビューを読む 勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。 なっちゃん かっちゃん",width="726").rollover

wp-content/themes/tanq/assets/concept.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">コンセプト</a></li>
          <li><a href="">入学案内</a>
            <ul class="child">
              <li><a href="">小学生</a></li>
              <li><a href="">中学生</a></li>
              <li><a href="">高校生</a></li>
            </ul>
          </li>
          <li><a href="">卒業生より</a></li>
          <li><a href="">先生たち</a></li>
          <li><a href="">アクセスと概要</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <h1 class="logo" title="学びの森 探求スクール"><span>学びの森 探求スクール</span></h1>
      <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL : 0771-29-5800</a></aside>
      <div class="leaf1"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <nav class="gnav">
      <ul>
        <li><a href="">コンセプト</a></li>
        <li><a href="">入学案内</a>
          <ul class="child">
            <li><a href="">小学生</a></li>
            <li><a href="">中学生</a></li>
            <li><a href="">高校生</a></li>
          </ul>
        </li>
        <li><a href="">卒業生より</a></li>
        <li><a href="">先生たち</a></li>
        <li><a href="">アクセスと概要</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
      </ul>
    </nav>
    <div class="concept">
      <header class="lower_header lower_header--concept">
        <h1 class="ttl"><span>コンセプト</span></h1>
      </header>
      <div class="backgrond-color--lightblue"><img class="mv" src="./images/mv_concept.png" alt="" width="665">
        <div class="backgrond-color__inner">
          <section class="content_area">
            <h2 class="subttl">対話を通した深い学びで、「正解」のない時代を生きる力を育てる。</h2>
            <div class="txt">
              <p>大きく葉を広げるヘゴシダの木、色鮮やかな熱帯魚、そしてたくさんの本。</p>
              好きな席に座って、先生や仲間と対話をしながら<br>
              一人ひとりが自分で読み、調べ、考えながら学習する学びの森。<br>
              <br>
              学校のテストや入試で問われる教科学習に加え、<br>
              身近な社会問題、生活の中にある自然科学、時には世界で今起こっていることについて<br>
              調べ、考える探究学習に力を入れています。<br>
              <br>
              子どもたちは、学ぶことの楽しさを感じながら<br>
              仲間との議論や発表の経験を積み重ね、正解のない時代を生きる力を育みます。
            </div>
          </section>
        </div>
      </div>
      <div class="backgrond-color--lightgreen">
        <section>
          <h2 class="ttl"><img src="./images/img_concept_1.png" alt="探究スクールとは 小・中・高 対象 入試対策も！ 国・数・英 教科学習 ワークショップ 探究学習 進学 能動的なキャリア形成" width="533"></h2>
          <div class="txtarea">
            <h3 class="ttl">2020年からの新大学入試に備えて！</h3>
            <p>2020年にセンター試験が廃止されます。<br>小論文型が中心となる新大学入試で求められる力は......</p>
            <ul class="list-style--leaf">
              <li><span>複数の情報を統合し、構造化して新しい考えをまとめる力</span></li>
              <li><span>その過程や結果を表現する力</span></li>
            </ul>
            <p>学びの森では、教科学習・探究学習を通してこの2つの力を鍛えます。</p>
          </div>
        </section>
        <section class="msg"><img src="./images/img_concept_2.png" alt="学びの森代表からのメッセージ 学びの森 代表 北村 真也 「学び」の価値、自分にとっての意味、そして「探究」する喜びを。小学生たちが成人する10年後、社会はどうなっているのでしょうか。この多極化の時代、子どもたちの目の前には私たち親世代の常識が通用しない世界が広がっています。正解なき時代を生き抜く力を育てるため、2020年には大学センター試験が廃止され新しい大学入試へと変わります。これまでの「正解を探す力」ではなく、自ら「正解を創り出す力」が求められるのです。本来学びは、子どもたちに喜びや豊かさを与えるものでした。しかし、学びの価値を感じられぬまま一方的に与えられ続けた子どもたちは、“勉強はつまらない”“嫌だ”と思うようになっていったのです。探究スクールでは、探究する喜びを通じて、学びが自分の可能性を広げ、人生を豊かにするのだと感じてもらいたい。そしてそのために講師たちは、日々新たな「学び」を模索し続けているのです。" width="960"></section>
      </div>
      <div class="backgrond-color--lightblue navigation">
        <div class="backgrond-color__inner">
          <section>
            <header class="lower_header--concept_2">
              <h2 class="ttl"><span>入学案内</span></h2>
            </header>
            <div class="btns">
              <ul>
                <li><a href="/manabi1/"><img src="./images/concept_btn_1.png" width="280" alt="小学生3~6年"></a></li>
                <li><a href="/manabi2/"><img src="./images/concept_btn_2.png" width="280" alt="中学生1~3年"></a></li>
                <li><a href="/manabi3/"><img src="./images/concept_btn_3.png" width="280" alt="高校生1~3年"></a></li>
              </ul>
            </div>
          </section>
          <section>
            <header class="lower_header--concept_3">
              <h2 class="ttl"><span>卒業生より</span></h2>
            </header>
            <p><a href="/sotsugyo"><img class="rollover" src="./images/concept_btn_4_off.png" alt="卒業生のインタビューを読む 勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。 なっちゃん かっちゃん" width="726"></a></p>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li><a href="">コンセプト</a></li>
                <li><a href="">入学案内</a>
                  <ul class="child">
                    <li><a href="">小学生</a></li>
                    <li><a href="">中学生</a></li>
                    <li><a href="">高校生</a></li>
                  </ul>
                </li>
                <li><a href="">卒業生より</a></li>
                <li><a href="">先生たち</a></li>
                <li><a href="">アクセスと概要</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 探求スクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
