wp-content/themes/tanq/assets/pug/cyugaku_2.jade
extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--outline
		h1.ttl
			span 入学案内
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.icon--yellow_back 小学生
							.ttl
								h2.linetext--yellow--wavy おもしろい！もっと知りたい！ワクワクする学びを。
							ul.list-style--leaf
								li
									span 自律的に「学ぶ習慣」
								li
									span 全教科で必要とされる「読解力」「記述力」
								li
									span 2020年からの新大学入試を見すえた「思考力」「論理力」
								li
									span 自ら興味・関心を持って世界を広げていく「探究力」
					.col--right
						img(src=`${assets_prefix}images/img_syogaku01.png`, alt="" ,width="294")
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--yellow.section1.border-area--lower
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body.border-body--lower
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習
											.sep &nbsp;
											.below
												p 一人ひとりの学力に応じた教材で算数の理解と自律的な学び方を習得
							.row
								.block.block--L
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 パズル、実験など、楽しく学ぶ探究学習（前半）
												p.level2 例：正方形5こで、何種類の形ができる？！
												p.level3 作・演出自分たち！お芝居「いかれた学校」
							.row
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_1.png`, alt="",width="309")
				.inview--to_top--delay1.inview--to_top.inview-f-1
					img(src=`${assets_prefix}images/syogaku_fukidashi_1.png`, width="118" , alt="わかった！")
				.inview--to_top--delay2.inview--to_top.inview-f-2
					img(src=`${assets_prefix}images/syogaku_fukidashi_2.png`, width="131" , alt="おもしろい！")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--results
						span 進路実績
				.area--normal_border.area--normal_border--results
					p
						span.bold 公立
						| ：西京（エンター）、嵯峨野（コスモス）、桃山（自然）、山城（文理）、紫野（英）、園部（国際）、亀岡（数理）…
					p
						span.bold 私立
						| ：同志社、立命館、立命館宇治、立命館守山、産大付属、龍谷大附属、花園、大谷、京都学園、成章、京女、橘、東山、外大西、文教…
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入会金　¥10,000
						.aside
							p ● 価格は全て税別です。<br>● 学費には教材費など諸費を含みます。
					.info
						h3.ttl 月謝
						.detail
							.info_detail_wrap
								table.info_detail
									tr
										th.th1 1〜3年
										th.th2 数学
										td 月or木
										td 19:00～22:00
										td 180分
										td &yen;12,000
									tr
										th.th1-none &nbsp;
										th.th2 英語
										td 月or木
										td 19:00～22:00
										td 180分
										td &yen;12,000
							.info_detail_wrap
								table.info_detail
									tr
										th.th1 3年
										th.th2 入試対策講座<br>（9月～）
										td 月
										td 19:00～21:30
										td 150分
										td &yen;16,000
				p.ar.fs14.bold.mt5(style="font-weight: 700;") ※夏期講習・冬期講習については開催時期にTOPページにてお知らせします。
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ → 事前相談(学習の状況、目標など) → 体験学習 → 面談(教科・日時の決定) → 入会

wp-content/themes/top/assets/cyugaku_2.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body class="home" id="top">
  <div id="wrap">
    <header class="main_header">
      <h1 class="logo" title="学びの森"><img src="./images/logo-2.png" alt="学びの森" width="340"></h1>
    </header>
    <section class="sub_header"><a href="http://tanq.manabinomori.co.jp/" targe="_blank"><img src="./images/btn_top_tankyu-2.png" alt="= 学習塾 = 学びの森 探求スクール" width="229"></a><a class="nolink" href=""><img src="./images/btn_top_freeschool-2.png" width="230" alt="= 京都府教育委員会認定フリースクール = 学びの森 フリースクール"></a><a class="nolink" href=""><img src="./images/btn_top_highschool-2.png" width="231" alt="= 通信制サポート校 = 学びの森 ハイスクール"></a></section>
    <p class="inquiry ac"><a href="http://tanq.manabinomori.co.jp/contact/" targe="_blank"><img src="./images/btn_to_inquiry.png" alt="お問い合わせ" width="416"></a></p>
    <p class="ac txt"><img src="./images/top_text_01.png" alt="みなさまに長年にわたり親しんでいただいた「アウラ」「知誠館」の名を2017年より 学びの森 に変更いたしました。森には様々な命が息づいています。ここでは、学校のように誰もが同じことをめざすわけではありません。一人ひとりの子どもたちがそれぞれのペースで学び、ワクワクしながら探究を続け、自分の人生を切り拓くための答えを創り出していく。そんな豊かな学びの世界をめざします。私たちは、学びの森のような場所が社会の中に増えていくことを願っています。" width="1092"></p>
    <header class="lower_header lower_header--outline">
      <h1 class="ttl"><span>入学案内</span></h1>
    </header>
    <div class="backgrond-color--lightblue">
      <div class="backgrond-color__inner">
        <div class="content_area">
          <section class="outline--lead outline--lead--s">
            <div class="col--left">
              <header>
                <div class="icon--yellow_back">小学生</div>
                <div class="ttl">
                  <h2 class="linetext--yellow--wavy">おもしろい！もっと知りたい！ワクワクする学びを。</h2>
                </div>
                <ul class="list-style--leaf">
                  <li><span>自律的に「学ぶ習慣」</span></li>
                  <li><span>全教科で必要とされる「読解力」「記述力」</span></li>
                  <li><span>2020年からの新大学入試を見すえた「思考力」「論理力」</span></li>
                  <li><span>自ら興味・関心を持って世界を広げていく「探究力」</span></li>
                </ul>
              </header>
            </div>
            <div class="col--right"><img src="./images/img_syogaku01.png" alt="" width="294"></div>
          </section>
        </div>
      </div>
    </div>
    <div class="backgrond-color--lightgreen backgrond-color--lightgreen--lower">
      <div class="backgrond-color__inner">
        <section class="border-area border-area--yellow section1 border-area--lower">
          <div class="border_header"><img class="pc" src="./images/border--yellow--head.png" alt=""><img class="sp" src="./images/border--yellow--head--sp.png" alt="">
            <div class="ttl_area_wrapper sp">
              <div class="ttl_area">
                <div class="ttl_prefix">
                  <div class="inner">
                    <p>中学生<br>1~3年</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-body border-body--lower"><a class="border-body_inner" href="https://www.google.co.jp">
              <div class="sep-sp sp"></div>
              <div class="ttl_area_wrapper">
                <header class="ttl_area">
                  <div class="ttl_prefix pc">
                    <div class="inner">
                      <p>中学生<br>1~3年</p>
                    </div>
                  </div>
                  <div class="ttl_text">
                    <h3 class="ttl">試験で問われる基礎学力も、学校ではできない深い学びも。</h3>
                    <div class="lead">
                      <p>個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。</p>
                    </div>
                  </div>
                </header>
              </div>
              <div class="content_area_wrapper">
                <div class="row">
                  <div class="block block--oneliner">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">算数</div>
                        <div class="icon">個別学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">個別学習 ＋ 数学ゼミ ＋ 探究学習</div>
                      </div>
                    </div>
                  </div>
                  <div class="block">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">算数</div>
                        <div class="icon">個別学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">
                          <p>一人ひとりの学力に応じた教材で算数の理解と自律的な学び方を習得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="block block--L">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">算数</div>
                        <div class="icon">個別学習 + 探究学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">
                          <p class="level1">パズル、実験など、楽しく学ぶ探究学習（前半）</p>
                          <p class="level2">例：正方形5こで、何種類の形ができる？！</p>
                          <p class="level3">作・演出自分たち！お芝居「いかれた学校」</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="block block--S">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">プレップ</div>
                        <div class="icon">個別学習 + 探究学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">
                          <p class="level1">入門コース</p>
                          <p class="level2">フォニックス(読み方)の習得、書き方、単語、絵本の読書</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block block--S">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">プレップ</div>
                        <div class="icon">個別学習 + 探究学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">
                          <p class="level1">入門コース</p>
                          <p class="level2">フォニックス(読み方)の習得、書き方、単語、絵本の読書</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block block--S">
                    <div class="block__inner-1st">
                      <div class="block__base_height">
                        <div></div>
                      </div>
                      <div class="block__inner-2nd">
                        <div class="above">プレップ</div>
                        <div class="icon">個別学習 + 探究学習</div>
                        <div class="sep">&nbsp;</div>
                        <div class="below">
                          <p class="level1">入門コース</p>
                          <p class="level2">フォニックス(読み方)の習得、書き方、単語、絵本の読書</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div></a></div>
          <div class="inview inview--to_bottom"><img src="./images/img_top--inview_1.png" alt="" width="309"></div>
          <div class="inview--to_top--delay1 inview--to_top inview-f-1"><img src="./images/syogaku_fukidashi_1.png" width="118" alt="わかった！"></div>
          <div class="inview--to_top--delay2 inview--to_top inview-f-2"><img src="./images/syogaku_fukidashi_2.png" width="131" alt="おもしろい！"></div>
        </section>
      </div>
    </div>
    <div class="backgrond-color--lightblue backgrond-color--lightblue--lower">
      <div class="backgrond-color__inner">
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--results"><span>進路実績</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--results">
            <p><span class="bold">公立</span>：西京（エンター）、嵯峨野（コスモス）、桃山（自然）、山城（文理）、紫野（英）、園部（国際）、亀岡（数理）…</p>
            <p><span class="bold">私立</span>：同志社、立命館、立命館宇治、立命館守山、産大付属、龍谷大附属、花園、大谷、京都学園、成章、京女、橘、東山、外大西、文教…</p>
          </div>
        </section>
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--price"><span>時間割・学費</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--price">
            <div class="ttl_area">
              <h3 class="ttl">入会金　¥10,000</h3>
              <div class="aside">
                <p>● 価格は全て税別です。<br>● 学費には教材費など諸費を含みます。</p>
              </div>
            </div>
            <div class="info">
              <h3 class="ttl">月謝</h3>
              <div class="detail">
                <div class="info_detail_wrap">
                  <table class="info_detail">
                    <tr>
                      <th class="th1">1〜3年</th>
                      <th class="th2">数学</th>
                      <td>月or木</td>
                      <td>19:00～22:00</td>
                      <td>180分</td>
                      <td>&yen;12,000</td>
                    </tr>
                    <tr>
                      <th class="th1-none">&nbsp;</th>
                      <th class="th2">英語</th>
                      <td>月or木</td>
                      <td>19:00～22:00</td>
                      <td>180分</td>
                      <td>&yen;12,000</td>
                    </tr>
                  </table>
                </div>
                <div class="info_detail_wrap">
                  <table class="info_detail">
                    <tr>
                      <th class="th1">3年</th>
                      <th class="th2">入試対策講座<br>（9月～）</th>
                      <td>月</td>
                      <td>19:00～21:30</td>
                      <td>150分</td>
                      <td>&yen;16,000</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <p class="ar fs14 bold mt5" style="font-weight: 700;">※夏期講習・冬期講習については開催時期にTOPページにてお知らせします。</p>
        </section>
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--flow"><span>入学までの流れ</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--flow">
            <div class="icon">随時受付中</div>
            <p>お問い合わせ → 事前相談(学習の状況、目標など) → 体験学習 → 面談(教科・日時の決定) → 入会</p>
          </div>
        </section>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col1 col">
            <p>
              代表　北村 真也<br>
              〒621-0846<br>
              京都府亀岡市南つつじヶ丘大葉台2-44-9<br class="sp"><a href="https://goo.gl/maps/roiBVm4nw9S2" target="_blank"><span>MAP<br></span></a>TEL: 0771-29-5800
            </p>
          </div>
          <div class="col2 col"><a class="nolink" href="http://forest.manabinomori.co.jp"><img src="./images/top_footer_bn_1.png" alt="小さな森の実行委員会" width="147"></a><a href="http://www.kyoto-hikikomori-net.jp/kyoto/kizuna_suport.php" target="_blank"><img src="./images/top_footer_bn_2.png" alt="京都府青少年課チーム絆" width="166"></a></div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
