wp-content/themes/tanq/assets/pug/layout.jade
-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
	script.
		var GROBAL_WAVE_BACKGROUND = '#f5fbef';
body#top(class=slug)
	#wrap
		nav#spnavi.spnavi.sp
			#scroller
				include _inc_gnavi
		.btn_sp_navi_wrap
			a.btn_sp_navi.nosc.nosms(href='#sp')
				span.bar
				span.bar
				span.bar
				span.text MENU
		block header
			header.main_header
				h1.logo(title="学びの森 探求スクール")
					span 学びの森 探求スクール
				aside.tel
					a(href="tel:0771-29-5800").tel_link TEL : 0771-29-5800
				.leaf1
					img(src=`${assets_prefix}images/img_header--leaf_1.png`, alt="")
				.leaf2
					img(src=`${assets_prefix}images/img_header--leaf_2.png`, alt="")
			nav.gnav
				include _inc_gnavi
		block contents
			//吹き出し 小学生
			.inview.inview--to_top--delay1.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_1.png`, width="118" , alt="わかった！")
			.inview.inview--to_top--delay2.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_2.png`, width="131" , alt="おもしろい！")
			.inview.inview--to_top--delay1.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_3.png`, width="193" , alt="なんでそうなんの？！")
			.inview.inview--to_top--delay2.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_4.png`, width="160" , alt="もっと知りたい！")
			.inview.inview--to_top--delay3.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_5.png`, width="166" , alt="ぼくはこう思う！")
			.inview.inview--to_top--delay1.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_6.png`, width="250" , alt="英語で言ったらどうなるの？")
			.inview.inview--to_top--delay2.inview--to_top
				img(src=`${assets_prefix}images/syogaku_fukidashi_7.png`, width="146" , alt="私にも読めた！")
			//吹き出し 中学生
			.inview.inview--to_top--delay1.inview--to_top
				img(src=`${assets_prefix}images/chyugaku_fukidashi_1.png`, width="251" , alt="自分で考えるのおもしろい！")
			.inview.inview--to_top--delay2.inview--to_top
				img(src=`${assets_prefix}images/chyugaku_fukidashi_2.png`, width="362" , alt="どう説明すれば皆にわかってもらえるかな？")
			.inview.inview--to_top--delay1.inview--to_top
				img(src=`${assets_prefix}images/chyugaku_fukidashi_3.png`, width="153" , alt="過去問が解けた！")
			.inview.inview--to_top--delay2.inview--to_top
				img(src=`${assets_prefix}images/chyugaku_fukidashi_4.png`, width="345" , alt="過去問が解けた！")
			header.lower_header.lower_header--outline
				h1.ttl
					span 入学案内
			section.outlin--lead
				header
					.icon
					h2.linetext--yellow--wavy おもしろい！もっと知りたい！ワクワクする学びを。
					h2.linetext--green--wavy おもしろい！もっと知りたい！ワクワクする学びを。
					ul.list-style--leaf
						li
							span 自律的に「学ぶ習慣」
						li
							span 全教科で必要とされる「読解力」「記述力」
						li
							span 2020年からの新大学入試を見すえた「思考力」「論理力」
						li
							span 自ら興味・関心を持って世界を広げていく「探究力」

			section.border-area.border-area--yellow
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_1.png`, alt="",width="309")
			section.border-area.border-area--blue
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_3.png`, alt="",width="293")
			section.border-area.border-area--green
				.border_header
					img(src=`${assets_prefix}images/border--green--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--green--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_2.png`, alt="",width="293")
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodてす
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		block footer
			footer#footer
				.footer_img
					.btns
						.inner
							a(href="#top").btn--gotop
							a(href="").btn--inquiry
					.top
						canvas#wave1
					.bottom
						canvas#wave2
				.footer_info
					.inner
						.col3.col
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
						.col2.col
							nav.footer_nav
								include _inc_gnavi
							.meta
								p 〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588
							.sns
								a(href="")
									span.icon--fb &nbsp;
									span.txt facebook
						.col1.col
							h2.logo
								a(href="") 学びの森 探求スクール

		block flg
			#responsive_flg
	block scripts
		include _inc_scripts

</html>

wp-content/themes/tanq/assets/layout.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">コンセプト</a></li>
          <li><a href="">入学案内</a>
            <ul class="child">
              <li><a href="">小学生</a></li>
              <li><a href="">中学生</a></li>
              <li><a href="">高校生</a></li>
            </ul>
          </li>
          <li><a href="">卒業生より</a></li>
          <li><a href="">先生たち</a></li>
          <li><a href="">アクセスと概要</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <h1 class="logo" title="学びの森 探求スクール"><span>学びの森 探求スクール</span></h1>
      <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL : 0771-29-5800</a></aside>
      <div class="leaf1"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <nav class="gnav">
      <ul>
        <li><a href="">コンセプト</a></li>
        <li><a href="">入学案内</a>
          <ul class="child">
            <li><a href="">小学生</a></li>
            <li><a href="">中学生</a></li>
            <li><a href="">高校生</a></li>
          </ul>
        </li>
        <li><a href="">卒業生より</a></li>
        <li><a href="">先生たち</a></li>
        <li><a href="">アクセスと概要</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
      </ul>
    </nav>
    <!--吹き出し 小学生-->
    <div class="inview inview--to_top--delay1 inview--to_top"><img src="./images/syogaku_fukidashi_1.png" width="118" alt="わかった！"></div>
    <div class="inview inview--to_top--delay2 inview--to_top"><img src="./images/syogaku_fukidashi_2.png" width="131" alt="おもしろい！"></div>
    <div class="inview inview--to_top--delay1 inview--to_top"><img src="./images/syogaku_fukidashi_3.png" width="193" alt="なんでそうなんの？！"></div>
    <div class="inview inview--to_top--delay2 inview--to_top"><img src="./images/syogaku_fukidashi_4.png" width="160" alt="もっと知りたい！"></div>
    <div class="inview inview--to_top--delay3 inview--to_top"><img src="./images/syogaku_fukidashi_5.png" width="166" alt="ぼくはこう思う！"></div>
    <div class="inview inview--to_top--delay1 inview--to_top"><img src="./images/syogaku_fukidashi_6.png" width="250" alt="英語で言ったらどうなるの？"></div>
    <div class="inview inview--to_top--delay2 inview--to_top"><img src="./images/syogaku_fukidashi_7.png" width="146" alt="私にも読めた！"></div>
    <!--吹き出し 中学生-->
    <div class="inview inview--to_top--delay1 inview--to_top"><img src="./images/chyugaku_fukidashi_1.png" width="251" alt="自分で考えるのおもしろい！"></div>
    <div class="inview inview--to_top--delay2 inview--to_top"><img src="./images/chyugaku_fukidashi_2.png" width="362" alt="どう説明すれば皆にわかってもらえるかな？"></div>
    <div class="inview inview--to_top--delay1 inview--to_top"><img src="./images/chyugaku_fukidashi_3.png" width="153" alt="過去問が解けた！"></div>
    <div class="inview inview--to_top--delay2 inview--to_top"><img src="./images/chyugaku_fukidashi_4.png" width="345" alt="過去問が解けた！"></div>
    <header class="lower_header lower_header--outline">
      <h1 class="ttl"><span>入学案内</span></h1>
    </header>
    <section class="outlin--lead">
      <header>
        <div class="icon"></div>
        <h2 class="linetext--yellow--wavy">おもしろい！もっと知りたい！ワクワクする学びを。</h2>
        <h2 class="linetext--green--wavy">おもしろい！もっと知りたい！ワクワクする学びを。</h2>
        <ul class="list-style--leaf">
          <li><span>自律的に「学ぶ習慣」</span></li>
          <li><span>全教科で必要とされる「読解力」「記述力」</span></li>
          <li><span>2020年からの新大学入試を見すえた「思考力」「論理力」</span></li>
          <li><span>自ら興味・関心を持って世界を広げていく「探究力」</span></li>
        </ul>
      </header>
    </section>
    <section class="border-area border-area--yellow">
      <div class="border_header"><img class="pc" src="./images/border--yellow--head.png" alt=""><img class="sp" src="./images/border--yellow--head--sp.png" alt="">
        <div class="ttl_area_wrapper sp">
          <div class="ttl_area">
            <div class="ttl_prefix">
              <div class="inner">
                <p>中学生<br>1~3年</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-body"><a class="border-body_inner" href="https://www.google.co.jp">
          <div class="sep-sp sp"></div>
          <div class="ttl_area_wrapper">
            <header class="ttl_area">
              <div class="ttl_prefix pc">
                <div class="inner">
                  <p>中学生<br>1~3年</p>
                </div>
              </div>
              <div class="ttl_text">
                <h3 class="ttl">試験で問われる基礎学力も、学校ではできない深い学びも。</h3>
                <div class="lead">
                  <p>個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。</p>
                </div>
              </div>
            </header>
          </div>
          <div class="content_area_wrapper">
            <div class="row">
              <div class="block block--oneliner">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                    <div class="sep">&nbsp;</div>
                    <div class="below">個別学習 ＋ 数学ゼミ ＋ 探究学習</div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
      <div class="border-hover">
        <div class="inner-1st">
          <div class="inner-2nd">
            <p class="ttl_1">小学生</p>
            <p class="ttl_2">入学案内へ</p>
            <p class="icon"></p>
          </div>
        </div>
      </div>
      <div class="inview inview--to_bottom"><img src="./images/img_top--inview_1.png" alt="" width="309"></div>
    </section>
    <section class="border-area border-area--blue">
      <div class="border_header"><img class="pc" src="./images/border--blue--head.png" alt=""><img class="sp" src="./images/border--blue--head--sp.png" alt="">
        <div class="ttl_area_wrapper sp">
          <div class="ttl_area">
            <div class="ttl_prefix">
              <div class="inner">
                <p>中学生<br>1~3年</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-body"><a class="border-body_inner" href="https://www.google.co.jp">
          <div class="sep-sp sp"></div>
          <div class="ttl_area_wrapper">
            <header class="ttl_area">
              <div class="ttl_prefix pc">
                <div class="inner">
                  <p>中学生<br>1~3年</p>
                </div>
              </div>
              <div class="ttl_text">
                <h3 class="ttl">試験で問われる基礎学力も、学校ではできない深い学びも。</h3>
                <div class="lead">
                  <p>個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。</p>
                </div>
              </div>
            </header>
          </div>
          <div class="content_area_wrapper">
            <div class="row">
              <div class="block block--oneliner">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                    <div class="sep">&nbsp;</div>
                    <div class="below">個別学習 ＋ 数学ゼミ ＋ 探究学習</div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
      <div class="border-hover">
        <div class="inner-1st">
          <div class="inner-2nd">
            <p class="ttl_1">小学生</p>
            <p class="ttl_2">入学案内へ</p>
            <p class="icon"></p>
          </div>
        </div>
      </div>
      <div class="inview inview--to_bottom"><img src="./images/img_top--inview_3.png" alt="" width="293"></div>
    </section>
    <section class="border-area border-area--green">
      <div class="border_header"><img class="pc" src="./images/border--green--head.png" alt=""><img class="sp" src="./images/border--green--head--sp.png" alt="">
        <div class="ttl_area_wrapper sp">
          <div class="ttl_area">
            <div class="ttl_prefix">
              <div class="inner">
                <p>中学生<br>1~3年</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-body"><a class="border-body_inner" href="https://www.google.co.jp">
          <div class="sep-sp sp"></div>
          <div class="ttl_area_wrapper">
            <header class="ttl_area">
              <div class="ttl_prefix pc">
                <div class="inner">
                  <p>中学生<br>1~3年</p>
                </div>
              </div>
              <div class="ttl_text">
                <h3 class="ttl">試験で問われる基礎学力も、学校ではできない深い学びも。</h3>
                <div class="lead">
                  <p>個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。</p>
                </div>
              </div>
            </header>
          </div>
          <div class="content_area_wrapper">
            <div class="row">
              <div class="block block--oneliner">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                    <div class="sep">&nbsp;</div>
                    <div class="below">個別学習 ＋ 数学ゼミ ＋ 探究学習</div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="block">
                <div class="block__inner-1st">
                  <div class="block__base_height">
                    <div></div>
                  </div>
                  <div class="block__inner-2nd">
                    <div class="above">算数</div>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
      <div class="border-hover">
        <div class="inner-1st">
          <div class="inner-2nd">
            <p class="ttl_1">小学生</p>
            <p class="ttl_2">入学案内へ</p>
            <p class="icon"></p>
          </div>
        </div>
      </div>
      <div class="inview inview--to_bottom"><img src="./images/img_top--inview_2.png" alt="" width="293"></div>
    </section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodてす
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li><a href="">コンセプト</a></li>
                <li><a href="">入学案内</a>
                  <ul class="child">
                    <li><a href="">小学生</a></li>
                    <li><a href="">中学生</a></li>
                    <li><a href="">高校生</a></li>
                  </ul>
                </li>
                <li><a href="">卒業生より</a></li>
                <li><a href="">先生たち</a></li>
                <li><a href="">アクセスと概要</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 探求スクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
