wp-content/themes/tanq/assets/pug/sotsugyo.jade
extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.lead
			.content_area
				h2
					img(src=`${assets_prefix}images/gr_img_2.png` width="297"  alt="探究スクール 探究スクール")
				p
					img(src=`${assets_prefix}images/gr_img_10.png` width="449" alt="勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。")
				.img
					img(src=`${assets_prefix}images/gr_img_1.png` width="577"  alt="")
		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_img_3.png` width="200" 　alt="これまでの歩み")
				.content
					.img
						img(src=`${assets_prefix}images/gr_img_5.png` width="110"  alt="")
					.txt
						h3 姉：なっちゃん
						p
							| 中2 秋　～　中3 卒業　アウラ（現：学びの森）に通学。<br>
							| その後、立命館宇治高校、立命館大学国際関係学部へ。<br>
							| 現在、国内メーカー勤務。
				.content
					.img
						img(src=`${assets_prefix}images/gr_img_6.png` width="111"  alt="")
					.txt
						h3 弟：かっちゃん
						p
							| 小5　～　中3 卒業　アウラ（現：学びの森）に通学。
							| その後、立命館守山高校、立命館大学経営学部へ。
							| 現在、2回生。
			section.interview
				.green.txt
					p ここを卒業してから、かっちゃんは4年？なっちゃんはもう8年か！でもちょくちょく来てくれてるよな。それぞれ留学した後とか……そうや、こないだ銀行でばったり会ってそのまま遊びに来てくれたり。
				.black.txt
					p
						span.head 母)
						| ここが原点やもんねぇ。何かあったら報告しに行かなって、2人とも言うんですよ。
				.green.txt
					p かっちゃんの合格発表が4年前かぁ。すごい勢いで飛び込んできて泣き崩れたの、忘れられへんわぁ。
				.black.txt
					p
						span.head かっちゃん)
						| あの時はもう全力で走ってきましたよね。信じられなかったけど、とりあえず言いに行かなきゃ！って
				.black.txt
					p
						span.head 母)
						| 12月になって、もらえると思っていた推薦がもらえないことがわかって、このお部屋でお話しましたよね。受かる確率は3割って言われたんですよ。でもそこから死に物狂いで勉強して。お正月もどこにも行かなかったし。
				.img
					img(src=`${assets_prefix}images/gr_img_7.png` width="595"  alt="")

				.green.txt
					p 私たちも本当にドキドキしていました。その日の雰囲気を見ながらどの過去問をするかを考えたりね。本番に向けて調子を上げていけるように、私らも必死やったんやで。かっちゃんは、できひんことや苦手なことを避けて通ってしまうところがあったから、そこをなんとかせなあかんと思って色んな壁を作ってきたつもりです。けっこう厳しかったと思う。それは嫌じゃなかった？
				.black.txt
					p
						span.head かっちゃん)
						| なんか自分だけ他の子よりもいっぱい問題を渡されるなとは思ってました。先生たちに「ここほんまにわかってる？」「なんでこうなったん？」って掘り下げられるのはすごくしんどかったけど、教室の色んなところに先生が歩いていてすぐに質問できたから、勉強はしやすかったなぁ。先生に聞いてもまだわからない時は、別の先生に聞いて、違うやり方を学べたし。最後の2ヶ月くらいは本当にしんどかったけど、その結果合格できたから、「がんばってよかった！！」と思いました。
				.img
					img(src=`${assets_prefix}images/gr_img_8.png` width="498"  alt="")
				.green.txt
					p なっちゃんは、かっちゃんとは全然タイプが違ったよな。最初の頃ずっと「もう家帰ったら何も勉強せんとねなさい」「そんなに勉強せんでいいよ」って伝えた覚えがある。
				.black.txt
					p
						span.head 母)
						| この子、学校のテストで何度も見なおしたり計算を確認したりするせいで、いつも問題の半分も解けていなかったんです。途中から全部真っ白。それをお見せしたら、塾長が「勉強を教えるよりも、まず不安をとってあげないと」って言ってくださったんです。
				.black.txt
					p
						span.head なっちゃん)
						| それで、おもしろいくらいに成績が伸びたんですよ。「何もやらんでいい」って言われてるのに。（笑）学校の先生もびっくりしてました。それまで全く自信が持てなかったんですけど、勉強を楽しいと思えるようになりました。
				.black.txt
					p
						span.head かっちゃん)
						| 自分のペースで勉強させてもらえるのがいいですよね。学校では周りの進むスピードについていけなくて、どうしようどうしようって焦ってしまうことがあったけど、毎日僕がどこまでできたか、何ができなかったかを確認しながら進めてもらえたのがありがたかったです。
				.black.txt
					p
						span.head なっちゃん)
						| うんうん。私も、普通の進学塾に行っていたら落ちこぼれていたと思います。勉強に楽しさを見い出せなかったんじゃないかな。ここに来て性格が変わったと思います。「やってみよう」って思えるようになった。だから留学も行けたし、今も仕事を楽しめているんだと思います。本当にありがとうございます。
				.img
					img(src=`${assets_prefix}images/gr_img_9.png` width="586"  alt="")
				.green.txt
					p 仕事は楽しい？アメリカや中国とのやり取りが多いんやんな？
				.black.txt
					p
						span.head なっちゃん)
						| そうですね、最近はイタリア、香港からも資材を輸入しています。主にメールですけど、時々電話もしますよ。裏方の仕事ですが、海外と関われる仕事をしたいとずっと思っていたので、毎日楽しいです。今は会社が終わってから中国語を習いに行ってます。
				.green.txt
					p 2人とも頼もしく育ってますね。いつもお父さんと一緒に保護者面談に来てくださいましたよね。成績の話だけじゃなくて、性格的な課題やおうちでの様子も共有させていただけたので、私たちも全力で2人のサポートをすることができました。今日は色々なお話が聞けて嬉しかったです。
				.black.txt
					p
						span.head 母)
						| 今日は素敵な時間をありがとうございました。私たち、今日をすっごく楽しみにしてたんです。家で「あと10分やな」とか言い合いながら、ワクワクしちゃって。
				.black.txt
					p
						span.head かっちゃん)
						| 改めて楽しい塾に来てたんやなぁと思いました。今カフェでバイトしているので、ぜひ遊びに来てください！
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section
					header.lower_header--concept_2
						h2.ttl
							span 入学案内
					.btns
						ul
							li
								a(href="/manabi1/")
									img(src=`${assets_prefix}images/concept_btn_1.png`,width="280", alt="小学生3~6年")
							li
								a(href="/manabi2/")
									img(src=`${assets_prefix}images/concept_btn_2.png`,width="280", alt="中学生1~3年")
							li
								a(href="/manabi3/")
									img(src=`${assets_prefix}images/concept_btn_3.png`,width="280", alt="高校生1~3年")

wp-content/themes/tanq/assets/sotsugyo.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">コンセプト</a></li>
          <li><a href="">入学案内</a>
            <ul class="child">
              <li><a href="">小学生</a></li>
              <li><a href="">中学生</a></li>
              <li><a href="">高校生</a></li>
            </ul>
          </li>
          <li><a href="">卒業生より</a></li>
          <li><a href="">先生たち</a></li>
          <li><a href="">アクセスと概要</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <h1 class="logo" title="学びの森 探求スクール"><span>学びの森 探求スクール</span></h1>
      <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL : 0771-29-5800</a></aside>
      <div class="leaf1"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <nav class="gnav">
      <ul>
        <li><a href="">コンセプト</a></li>
        <li><a href="">入学案内</a>
          <ul class="child">
            <li><a href="">小学生</a></li>
            <li><a href="">中学生</a></li>
            <li><a href="">高校生</a></li>
          </ul>
        </li>
        <li><a href="">卒業生より</a></li>
        <li><a href="">先生たち</a></li>
        <li><a href="">アクセスと概要</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
      </ul>
    </nav>
    <div class="graduate">
      <header class="lower_header lower_header--graduate">
        <h1 class="ttl"><span>卒業生より</span></h1>
      </header>
      <div class="backgrond-color--lightblue lead">
        <div class="content_area">
          <h2><img src="./images/gr_img_2.png" width="297" alt="探究スクール 探究スクール"></h2>
          <p><img src="./images/gr_img_10.png" width="449" alt="勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。"></p>
          <div class="img"><img src="./images/gr_img_1.png" width="577" alt=""></div>
        </div>
      </div>
      <div class="backgrond-color--lightgreen">
        <section class="step">
          <h2 class="ttl"><img src="./images/gr_img_3.png" width="200" alt="これまでの歩み"></h2>
          <div class="content">
            <div class="img"><img src="./images/gr_img_5.png" width="110" alt=""></div>
            <div class="txt">
              <h3>姉：なっちゃん</h3>
              <p>
                中2 秋　～　中3 卒業　アウラ（現：学びの森）に通学。<br>
                その後、立命館宇治高校、立命館大学国際関係学部へ。<br>
                現在、国内メーカー勤務。
              </p>
            </div>
          </div>
          <div class="content">
            <div class="img"><img src="./images/gr_img_6.png" width="111" alt=""></div>
            <div class="txt">
              <h3>弟：かっちゃん</h3>
              <p>
                小5　～　中3 卒業　アウラ（現：学びの森）に通学。
                その後、立命館守山高校、立命館大学経営学部へ。
                現在、2回生。
              </p>
            </div>
          </div>
        </section>
        <section class="interview">
          <div class="green txt">
            <p>ここを卒業してから、かっちゃんは4年？なっちゃんはもう8年か！でもちょくちょく来てくれてるよな。それぞれ留学した後とか……そうや、こないだ銀行でばったり会ってそのまま遊びに来てくれたり。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>ここが原点やもんねぇ。何かあったら報告しに行かなって、2人とも言うんですよ。</p>
          </div>
          <div class="green txt">
            <p>かっちゃんの合格発表が4年前かぁ。すごい勢いで飛び込んできて泣き崩れたの、忘れられへんわぁ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">かっちゃん)</span>あの時はもう全力で走ってきましたよね。信じられなかったけど、とりあえず言いに行かなきゃ！って</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>12月になって、もらえると思っていた推薦がもらえないことがわかって、このお部屋でお話しましたよね。受かる確率は3割って言われたんですよ。でもそこから死に物狂いで勉強して。お正月もどこにも行かなかったし。</p>
          </div>
          <div class="img"><img src="./images/gr_img_7.png" width="595" alt=""></div>
          <div class="green txt">
            <p>私たちも本当にドキドキしていました。その日の雰囲気を見ながらどの過去問をするかを考えたりね。本番に向けて調子を上げていけるように、私らも必死やったんやで。かっちゃんは、できひんことや苦手なことを避けて通ってしまうところがあったから、そこをなんとかせなあかんと思って色んな壁を作ってきたつもりです。けっこう厳しかったと思う。それは嫌じゃなかった？</p>
          </div>
          <div class="black txt">
            <p><span class="head">かっちゃん)</span>なんか自分だけ他の子よりもいっぱい問題を渡されるなとは思ってました。先生たちに「ここほんまにわかってる？」「なんでこうなったん？」って掘り下げられるのはすごくしんどかったけど、教室の色んなところに先生が歩いていてすぐに質問できたから、勉強はしやすかったなぁ。先生に聞いてもまだわからない時は、別の先生に聞いて、違うやり方を学べたし。最後の2ヶ月くらいは本当にしんどかったけど、その結果合格できたから、「がんばってよかった！！」と思いました。</p>
          </div>
          <div class="img"><img src="./images/gr_img_8.png" width="498" alt=""></div>
          <div class="green txt">
            <p>なっちゃんは、かっちゃんとは全然タイプが違ったよな。最初の頃ずっと「もう家帰ったら何も勉強せんとねなさい」「そんなに勉強せんでいいよ」って伝えた覚えがある。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>この子、学校のテストで何度も見なおしたり計算を確認したりするせいで、いつも問題の半分も解けていなかったんです。途中から全部真っ白。それをお見せしたら、塾長が「勉強を教えるよりも、まず不安をとってあげないと」って言ってくださったんです。</p>
          </div>
          <div class="black txt">
            <p><span class="head">なっちゃん)</span>それで、おもしろいくらいに成績が伸びたんですよ。「何もやらんでいい」って言われてるのに。（笑）学校の先生もびっくりしてました。それまで全く自信が持てなかったんですけど、勉強を楽しいと思えるようになりました。</p>
          </div>
          <div class="black txt">
            <p><span class="head">かっちゃん)</span>自分のペースで勉強させてもらえるのがいいですよね。学校では周りの進むスピードについていけなくて、どうしようどうしようって焦ってしまうことがあったけど、毎日僕がどこまでできたか、何ができなかったかを確認しながら進めてもらえたのがありがたかったです。</p>
          </div>
          <div class="black txt">
            <p><span class="head">なっちゃん)</span>うんうん。私も、普通の進学塾に行っていたら落ちこぼれていたと思います。勉強に楽しさを見い出せなかったんじゃないかな。ここに来て性格が変わったと思います。「やってみよう」って思えるようになった。だから留学も行けたし、今も仕事を楽しめているんだと思います。本当にありがとうございます。</p>
          </div>
          <div class="img"><img src="./images/gr_img_9.png" width="586" alt=""></div>
          <div class="green txt">
            <p>仕事は楽しい？アメリカや中国とのやり取りが多いんやんな？</p>
          </div>
          <div class="black txt">
            <p><span class="head">なっちゃん)</span>そうですね、最近はイタリア、香港からも資材を輸入しています。主にメールですけど、時々電話もしますよ。裏方の仕事ですが、海外と関われる仕事をしたいとずっと思っていたので、毎日楽しいです。今は会社が終わってから中国語を習いに行ってます。</p>
          </div>
          <div class="green txt">
            <p>2人とも頼もしく育ってますね。いつもお父さんと一緒に保護者面談に来てくださいましたよね。成績の話だけじゃなくて、性格的な課題やおうちでの様子も共有させていただけたので、私たちも全力で2人のサポートをすることができました。今日は色々なお話が聞けて嬉しかったです。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>今日は素敵な時間をありがとうございました。私たち、今日をすっごく楽しみにしてたんです。家で「あと10分やな」とか言い合いながら、ワクワクしちゃって。</p>
          </div>
          <div class="black txt">
            <p><span class="head">かっちゃん)</span>改めて楽しい塾に来てたんやなぁと思いました。今カフェでバイトしているので、ぜひ遊びに来てください！</p>
          </div>
        </section>
      </div>
      <div class="backgrond-color--lightblue navigation nosep">
        <div class="backgrond-color__inner">
          <section>
            <header class="lower_header--concept_2">
              <h2 class="ttl"><span>入学案内</span></h2>
            </header>
            <div class="btns">
              <ul>
                <li><a href="/manabi1/"><img src="./images/concept_btn_1.png" width="280" alt="小学生3~6年"></a></li>
                <li><a href="/manabi2/"><img src="./images/concept_btn_2.png" width="280" alt="中学生1~3年"></a></li>
                <li><a href="/manabi3/"><img src="./images/concept_btn_3.png" width="280" alt="高校生1~3年"></a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li><a href="">コンセプト</a></li>
                <li><a href="">入学案内</a>
                  <ul class="child">
                    <li><a href="">小学生</a></li>
                    <li><a href="">中学生</a></li>
                    <li><a href="">高校生</a></li>
                  </ul>
                </li>
                <li><a href="">卒業生より</a></li>
                <li><a href="">先生たち</a></li>
                <li><a href="">アクセスと概要</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 探求スクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
