wp-content/themes/freeschool/assets/teacher.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>= meta.title</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li><a href="">コンセプト</a></li>
          <li><a href="">入学案内</a>
            <ul class="child">
              <li><a href="">小学生</a></li>
              <li><a href="">中学生</a></li>
              <li><a href="">高校生</a></li>
            </ul>
          </li>
          <li><a href="">卒業生より</a></li>
          <li><a href="">先生たち</a></li>
          <li><a href="">アクセスと概要</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <h1 class="logo" title="学びの森 探求スクール"><span>学びの森 探求スクール</span></h1>
      <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL : 0771-29-5800</a></aside>
      <div class="leaf1"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <nav class="gnav">
      <ul>
        <li><a href="">コンセプト</a></li>
        <li><a href="">入学案内</a>
          <ul class="child">
            <li><a href="">小学生</a></li>
            <li><a href="">中学生</a></li>
            <li><a href="">高校生</a></li>
          </ul>
        </li>
        <li><a href="">卒業生より</a></li>
        <li><a href="">先生たち</a></li>
        <li><a href="">アクセスと概要</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
      </ul>
    </nav>
    <div class="concept">
      <header class="lower_header lower_header--concept">
        <h1 class="ttl"><span>先生たち</span></h1>
      </header>
      <div class="backgrond-color--lightblue nosep">
        <div class="card--teacher">
          <div class="img"><img src="./images/img_teacher05.png" width="256" alt=""><a class="btn execColorBox nosms" href="#this">message</a></div>
          <div class="content even">
            <h2 class="ttl"><span class="sub">塾長</span><span class="main">北村 真也</span></h2>
            <div class="info">
              <div class="top">
                <div class="th">趣味：</div>
                <div class="td">
                  <p>考えること<br>人と話すこと<br>旅すること</p>
                </div>
              </div>
              <div class="other1">
                <p>好きな...<br></p>
                映画：レ・ミゼラブル<br>
                映画：プレシャス<br>
                音楽：バッハ　無伴奏チェロ<br>
              </div>
              <div class="other2">
                <p>
                  同志社大学 経済学部
                  立命館大学大学院
                  応用人間科学研究科卒
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="div" style="display:none;">
          <div class="colorBoxTarget" id="this">
            <header class="header">
              <div class="img"><img src="./images/img_teacher05.png" width="256" alt=""></div>
              <div class="info">
                <h2 class="ttl"><span class="sub">塾長</span><span class="main">北村 真也</span></h2>
              </div>
            </header>
            <div class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.</div>
          </div>
        </div>
        <div class="card--teacher">
          <div class="img"><img src="./images/img_teacher05.png" width="256" alt=""><a class="btn execColorBox nosms" href="#this">message</a></div>
          <div class="content even">
            <h2 class="ttl"><span class="sub">塾長</span><span class="main">北村 真也</span></h2>
            <div class="info">
              <div class="top">
                <div class="th">趣味：</div>
                <div class="td">
                  <p>考えること<br>人と話すこと<br>旅すること</p>
                </div>
              </div>
              <div class="other1">
                <p>好きな...<br></p>
                映画：レ・ミゼラブル<br>
                映画：プレシャス<br>
                音楽：バッハ　無伴奏チェロ<br>
              </div>
              <div class="other2">
                <p>
                  同志社大学 経済学部
                  立命館大学大学院
                  応用人間科学研究科卒
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="div" style="display:none;">
          <div class="colorBoxTarget" id="this">
            <header class="header">
              <div class="img"><img src="./images/img_teacher05.png" width="256" alt=""></div>
              <div class="info">
                <h2 class="ttl"><span class="sub">塾長</span><span class="main">北村 真也</span></h2>
              </div>
            </header>
            <div class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.</div>
          </div>
        </div><img src="./images/img_teacher06.png" width="255" alt=""><img src="./images/img_teacher07.png" width="254" alt=""><img src="./images/img_teacher08.png" width="257" alt=""><img src="./images/img_teacher09.png" width="255" alt=""><img src="./images/img_teacher10.png" width="254" alt=""><img src="./images/img_teacher11.png" width="257" alt="">
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li><a href="">コンセプト</a></li>
                <li><a href="">入学案内</a>
                  <ul class="child">
                    <li><a href="">小学生</a></li>
                    <li><a href="">中学生</a></li>
                    <li><a href="">高校生</a></li>
                  </ul>
                </li>
                <li><a href="">卒業生より</a></li>
                <li><a href="">先生たち</a></li>
                <li><a href="">アクセスと概要</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 探求スクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/tanq/assets/pug/teacher.jade
extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span 先生たち
		.backgrond-color--lightblue.nosep
			.card--teacher
				.img
					img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
					a.btn.execColorBox.nosms(href="#this") message
				.content.even
					h2.ttl
						span.sub 塾長
						span.main 北村 真也
					.info
						.top
							.th 趣味：
							.td
								p 考えること<br>人と話すこと<br>旅すること
						.other1
							p 好きな...<br>
							| 映画：レ・ミゼラブル<br>
							| 映画：プレシャス<br>
							| 音楽：バッハ　無伴奏チェロ<br>
						.other2
							p
								| 同志社大学 経済学部
								| 立命館大学大学院
								| 応用人間科学研究科卒
			.div(style="display:none;")
				#this.colorBoxTarget
					header.header
						.img
							img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
						.info
							h2.ttl
								span.sub 塾長
								span.main 北村 真也
					.msg
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.

			.card--teacher
				.img
					img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
					a.btn.execColorBox.nosms(href="#this") message
				.content.even
					h2.ttl
						span.sub 塾長
						span.main 北村 真也
					.info
						.top
							.th 趣味：
							.td
								p 考えること<br>人と話すこと<br>旅すること
						.other1
							p 好きな...<br>
							| 映画：レ・ミゼラブル<br>
							| 映画：プレシャス<br>
							| 音楽：バッハ　無伴奏チェロ<br>
						.other2
							p
								| 同志社大学 経済学部
								| 立命館大学大学院
								| 応用人間科学研究科卒
			.div(style="display:none;")
				#this.colorBoxTarget
					header.header
						.img
							img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
						.info
							h2.ttl
								span.sub 塾長
								span.main 北村 真也
					.msg
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.

			img(src=`${assets_prefix}images/img_teacher06.png` width="255" alt="")
			img(src=`${assets_prefix}images/img_teacher07.png` width="254" alt="")
			img(src=`${assets_prefix}images/img_teacher08.png` width="257" alt="")
			img(src=`${assets_prefix}images/img_teacher09.png` width="255" alt="")
			img(src=`${assets_prefix}images/img_teacher10.png` width="254" alt="")
			img(src=`${assets_prefix}images/img_teacher11.png` width="257" alt="")
