wp-content/themes/highschool/assets/manabikata.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body class="home" id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <header class="lower_header lower_header--mk">
      <h1 class="ttl"><span>ある日の学び</span></h1>
    </header>
    <div class="backgrond-color--lightblue">
      <div class="backgrond-color__inner">
        <div class="content_area">
          <section class="outline--lead outline--lead--s">
            <div class="col--left">
              <header>
                <div class="ttl">
                  <h2 class="linetext--blue--wavy">自分の力でキャリアを選択し、掴みとる力を。</h2>
                </div>
                <ul class="list-style--leaf pc">
                  <li><span>基礎学力の回復　　　　　……　一人ひとりの学力に合わせた教材での個別学習</span></li>
                  <li><span>高卒資格取得　　　　　　……　連携している通信制高校のレポート、試験を学びの森で</span></li>
                  <li><span>キャリア・進路指導　　　……　大学・専門学校、留学、就職など幅広いキャリア支援</span></li>
                  <li><span>探究学習　　　　　　　　……　探究、議論、発表など社会で必要な力をつける学習</span></li>
                  <li><span>生活面・心理面サポート　……　体験活動、カウンセリング、掃除や森の手入れなど</span></li>
                </ul>
                <ul class="list-style--leaf sp">
                  <li><span>基礎学力の回復<br>一人ひとりの学力に合わせた教材での個別学習</span></li>
                  <li><span>高卒資格取得<br>連携している通信制高校のレポート、試験を学びの森で</span></li>
                  <li><span>キャリア・進路指導<br>大学・専門学校、留学、就職など幅広いキャリア支援</span></li>
                  <li><span>探究学習<br>探究、議論、発表など社会で必要な力をつける学習</span></li>
                  <li><span>生活面・心理面サポート<br>体験活動、カウンセリング、掃除や森の手入れなど</span></li>
                </ul>
              </header>
            </div><img class="img1" src="./images/mk_img_1.png" width="233" alt=""><img class="rollover img2" src="./images/btn_mk_1_off.png" width="212" alt="高認受験対応 通信制高校に在籍せず、文科省の高卒認定試験で大学受験資格を得ることも可能です。">
          </section>
        </div>
      </div>
    </div>
    <div class="backgrond-color--lightgreen backgrond-color--lightgreen--lower">
      <div class="backgrond-color__inner">
        <section class="border-area border-area--blue">
          <div class="border_header"><img class="pc" src="./images/border--blue--head.png" alt=""><img class="sp" src="./images/border--blue--head--sp.png" alt="">
            <div class="ttl_area_wrapper sp">
              <div class="ttl_area">
                <div class="ttl_prefix">
                  <div class="inner">
                    <p>ハイスクール<br>週4日　高校1~3年生　定員15名</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-body">
            <div class="border-body_inner">
              <div class="sep-sp sp"></div>
              <div class="ttl_area_wrapper">
                <header class="ttl_area">
                  <h3 class="ttl_prefix pc">
                    <div class="ttl">ハイスクール</div>
                    <div class="icon">週4日　高校1~3年生　定員15名</div>
                  </h3>
                </header>
              </div>
              <div class="content_area_wrapper">
                <h4>時間割</h4>
                <div class="table_wrapper--basic_table timetable">
                  <table>
                    <tbody>
                      <tr class="head">
                        <th></th>
                        <td>月</td>
                        <td>火</td>
                        <td>水</td>
                        <td>木</td>
                        <td>金</td>
                      </tr>
                      <tr>
                        <th>1限目<span class="sub">10:30<br class="sp">~<br class="sp">11:50</span></th>
                        <td>数学</td>
                        <td>通信制<br class="sp">課程</td>
                        <td>ー</td>
                        <td>通信制<br class="sp">課程</td>
                        <td>英語</td>
                      </tr>
                      <tr>
                        <th>昼休み</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>ー</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <th>2限目<span class="sub">13:00<br class="sp">~<br class="sp">14:20</span></th>
                        <td>通信制<br class="sp">課程</td>
                        <td>国語</td>
                        <td>ー</td>
                        <td>探究</td>
                        <td>国語</td>
                      </tr>
                      <tr>
                        <th>3限目<span class="sub">14:40<br class="sp">~<br class="sp">16:00</span></th>
                        <td>英語</td>
                        <td>数学</td>
                        <td>ー</td>
                        <td>探究</td>
                        <td>通信制<br class="sp">課程</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="inner-column--3">
                  <div class="txtbox--has_wave_ttl box">
                    <h3 class="linetext--blue--wavy"><span class="ttl1">森の語り場</span><span class="ttl2">(月1回)</span></h3>
                    <h4 class="subttl">これまでの自分と向き合い、<br>前へ進むための「語り」</h4>
                    <div class="txt">
                      <p>各回1名が自らのライフストーリーを仲間に向けて語ります。辛い経験を自分の言葉で振り返りこれまでの自分と向き合うことは、子どもが変わるための大切な一歩です。</p>
                    </div>
                  </div>
                  <div class="txtbox--has_wave_ttl box">
                    <h3 class="linetext--blue--wavy"><span class="ttl1">森の出会い場</span><span class="ttl2">(年10回)</span></h3>
                    <h4 class="subttl">その道のプロフェッショナルの<br>人生に出会う。</h4>
                    <div class="txt">
                      <p>子どもたちが興味ある分野でこだわりをもって仕事をしている方々を招いて、時には仕事体験を交えながらお話を伺います。</p>
                      <p class="sub">例：伝統工芸職人、微生物研究者、TVディレクター、美容師、舞台演出家、パティシエなど</p>
                    </div>
                  </div><img class="img" src="./images/img_method_1.png" alt="" width="223">
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="border-area_wrapper">
          <div class="ex_img1"><img src="./images/mk_img_3.png" width="86" alt=""></div>
          <section class="border-area border-area--blue border-area--m">
            <div class="border_header"><img class="pc" src="./images/border--blue--head.png" alt=""><img class="sp" src="./images/border--blue--head--sp.png" alt="">
              <div class="ttl_area_wrapper sp">
                <div class="ttl_area">
                  <div class="ttl_prefix">
                    <div class="inner">
                      <p>エクステンション</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-body">
              <div class="border-body_inner">
                <div class="sep-sp sp"></div>
                <div class="ttl_area_wrapper">
                  <header class="ttl_area">
                    <h3 class="ttl_prefix pc">
                      <div class="ttl">エクステンション</div>
                    </h3>
                  </header>
                </div>
                <div class="content_area_wrapper">
                  <div class="inner-column--2">
                    <div class="txtbox--has_wave_ttl box">
                      <h3 class="linetext--blue--wavy"><span class="ttl1">思考と表現のワークショップ</span></h3>
                      <h4 class="subttl">金曜 19:00~21:30</h4>
                      <div class="txt">
                        <p>物語や社会問題を題材に、問いを立て、皆で意見を出して話し合います。<br>フォーラムの企画・主催など、外部の人に対する発信も積極的に行います。</p>
                      </div>
                    </div>
                    <div class="txtbox--has_wave_ttl box">
                      <h3 class="linetext--blue--wavy"><span class="ttl1">個別小論演習</span><span class="ttl2">(年10回)</span></h3>
                      <h4 class="subttl">学習日時は要相談</h4>
                      <div class="txt">
                        <p>AO・推薦入試に合格するための、志望校別・小論文対策講座。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="inview inview--to_top--delay1"><img src="./images/mk_img_2.png" width="387" alt="より発展的な学びを追求したい……という方へ"></div>
          </section>
        </div>
        <section class="border-area border-area--blue con3">
          <div class="border_header"><img class="pc" src="./images/border--blue--head.png" alt=""><img class="sp" src="./images/border--blue--head--sp.png" alt="">
            <div class="ttl_area_wrapper sp">
              <div class="ttl_area">
                <div class="ttl_prefix">
                  <div class="inner">
                    <p>ホームスクール<br>週1日来校 ＋ 自宅学習</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-body">
            <div class="border-body_inner">
              <div class="sep-sp sp"></div>
              <div class="ttl_area_wrapper">
                <header class="ttl_area">
                  <h3 class="ttl_prefix pc">
                    <div class="ttl">ホームスクール</div>
                    <div class="icon">週1日来校 ＋ 自宅学習</div>
                  </h3>
                </header>
              </div>
              <div class="content_area_wrapper">
                <p class="size_l">他の子どもが来ない水曜日に来ていただき、1週間の学習内容の相談、カウンセリング、進路指導を個別に行います。</p>
              </div>
            </div>
          </div>
          <div class="inview inview--to_top--delay1"><img src="./images/mk_img_4.png" width="387" alt="まだ他の子と一緒に学ぶのは……という方へ"></div>
          <div class="inview inview--to_bottom"><img src="./images/mk_img_5.png" width="268" alt=""></div>
        </section>
      </div>
    </div>
    <div class="backgrond-color--lightblue backgrond-color--lightblue--lower mk">
      <div class="backgrond-color__inner">
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--results"><span>進路実績</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--results">
            <table class="txttable1">
              <tr>
                <th>大学：</th>
                <td>同志社大学（文）、立命館大学（国関）、龍谷大学（文）、佛教大学（社会、歴史）、京都産業大学（理）、成安造形大学、京都精華大学（社、芸、デ）、京都学園大学（経）、花園大学（文）、大阪電通通信大学（工）</td>
              </tr>
              <tr>
                <th>短大：</th>
                <td>関西外国語短大（英）、光華女子短大（ライフ）、聖母女学院短大（生活）</td>
              </tr>
              <tr>
                <th>専門：</th>
                <td>京都桂看護学校、京都府医師会看護学校、南丹看護専門学校、京都自動車専門学校</td>
              </tr>
            </table>
            <div class="sep"><img src="./images/mk_img_7.png" width="959" alt=""></div>
            <h2 class="mb5"><img src="./images/mk_img_6.png" width="134" alt="その先は......"></h2>
            <p class="blue">自動車ディーラー、助産師、看護師、保育士、パティシエ、立命館大学大学院、カリフォルニア大学留学、学習塾室長、人材派遣会社、電気機器メーカー、中学教員、デザイナー、トリマー…</p>
          </div>
        </section>
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--price"><span>時間割・学費</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--price">
            <div class="ttl_area">
              <h3 class="ttl">入学金　¥100,000</h3>
              <div class="aside">
                <p>● 価格は全て税別です。<br>● ハイスクール入学時には、活動費¥6,000/月が別途かかります。<br>● 学費には教材費など諸費を含みます。</p>
              </div>
            </div>
            <div class="info">
              <div class="left">
                <table>
                  <tr>
                    <th>ハイスクール</th>
                    <td>64,000円／月</td>
                  </tr>
                  <tr>
                    <th>ホームスクール</th>
                    <td>36,000円／月</td>
                  </tr>
                </table>
              </div>
              <div class="right">
                <h3 class="ttl">エクステンション</h3>
                <table>
                  <tr>
                    <th>思考と表現のワークショップ</th>
                    <td>8,000円／月</td>
                  </tr>
                  <tr>
                    <th>個別小論演習</th>
                    <td>20,000円／月</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="content_area content_area--info">
          <header class="text_img">
            <h2 class="ttl--flow"><span>入学までの流れ</span></h2>
          </header>
          <div class="area--normal_border area--normal_border--flow">
            <div class="icon">随時受付中</div>
            <p>お問い合わせ　→　保護者面談　→　本人面談　→　無料体験1週間　→　入学</p>
            <p class="sub">※ [ 1ヶ月返金保証制度 ] 入学後1ヶ月以内に通学できなくなった場合、入学金と翌月分以降の年間活動費を返金いたします。</p>
          </div>
        </section>
      </div>
    </div>
    <div class="backgrond-color--lightgreen backgrond-color--lightgreen--lower mk">
      <div class="backgrond-color__inner">
        <section class="mk_link">
          <h2 class="ac"><img src="./images/ttl_aruhi.png" width="148" height="24" alt="ある日の学び"></h2>
          <p class="ac"><a href="/aruhi" style="margin-top:7px;"><img src="./images/btn_mk_2.png" width="870" height="318" alt="ある日の学び"></a></p>
        </section>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/highschool/assets/pug/manabikata.jade
extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--mk
		h1.ttl
			span ある日の学び
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.ttl
								h2.linetext--blue--wavy 自分の力でキャリアを選択し、掴みとる力を。
							ul.list-style--leaf.pc
								li
									span 基礎学力の回復　　　　　……　一人ひとりの学力に合わせた教材での個別学習
								li
									span 高卒資格取得　　　　　　……　連携している通信制高校のレポート、試験を学びの森で
								li
									span キャリア・進路指導　　　……　大学・専門学校、留学、就職など幅広いキャリア支援
								li
									span 探究学習　　　　　　　　……　探究、議論、発表など社会で必要な力をつける学習
								li
									span 生活面・心理面サポート　……　体験活動、カウンセリング、掃除や森の手入れなど
							ul.list-style--leaf.sp
								li
									span 基礎学力の回復<br>一人ひとりの学力に合わせた教材での個別学習
								li
									span 高卒資格取得<br>連携している通信制高校のレポート、試験を学びの森で
								li
									span キャリア・進路指導<br>大学・専門学校、留学、就職など幅広いキャリア支援
								li
									span 探究学習<br>探究、議論、発表など社会で必要な力をつける学習
								li
									span 生活面・心理面サポート<br>体験活動、カウンセリング、掃除や森の手入れなど
					img(src=`${assets_prefix}images/mk_img_1.png` width="233" alt="").img1
					img(src=`${assets_prefix}images/btn_mk_1_off.png` width="212" alt="高認受験対応 通信制高校に在籍せず、文科省の高卒認定試験で大学受験資格を得ることも可能です。").rollover.img2
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--blue
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ハイスクール<br>週4日　高校1~3年生　定員15名
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ハイスクール
									.icon 週4日　高校1~3年生　定員15名
						.content_area_wrapper
							h4 時間割
							.table_wrapper--basic_table.timetable
								table
									tbody
										tr.head
											th
											td 月
											td 火
											td 水
											td 木
											td 金
										tr
											th 1限目
												span.sub 10:30<br class="sp">~<br class="sp">11:50
											td 数学
											td 通信制<br class="sp">課程
											td ー
											td 通信制<br class="sp">課程
											td 英語
										tr
											th 昼休み
											td &nbsp;
											td &nbsp;
											td ー
											td &nbsp;
											td &nbsp;
										tr
											th 2限目
												span.sub 13:00<br class="sp">~<br class="sp">14:20
											td 通信制<br class="sp">課程
											td 国語
											td ー
											td 探究
											td 国語
										tr
											th 3限目
												span.sub 14:40<br class="sp">~<br class="sp">16:00
											td 英語
											td 数学
											td ー
											td 探究
											td 通信制<br class="sp">課程
							.inner-column--3
								.txtbox--has_wave_ttl.box
									h3.linetext--blue--wavy
										span.ttl1 森の語り場
										span.ttl2 (月1回)
									h4.subttl これまでの自分と向き合い、<br>前へ進むための「語り」
									.txt
										p 各回1名が自らのライフストーリーを仲間に向けて語ります。辛い経験を自分の言葉で振り返りこれまでの自分と向き合うことは、子どもが変わるための大切な一歩です。
								.txtbox--has_wave_ttl.box
									h3.linetext--blue--wavy
										span.ttl1 森の出会い場
										span.ttl2 (年10回)
									h4.subttl その道のプロフェッショナルの<br>人生に出会う。
									.txt
										p 子どもたちが興味ある分野でこだわりをもって仕事をしている方々を招いて、時には仕事体験を交えながらお話を伺います。
										p.sub 例：伝統工芸職人、微生物研究者、TVディレクター、美容師、舞台演出家、パティシエなど
								img(src=`${assets_prefix}images/img_method_1.png`, alt="",width="223").img

			div.border-area_wrapper
				.ex_img1
					img(src=`${assets_prefix}images/mk_img_3.png` width="86" alt="")
				section.border-area.border-area--blue.border-area--m
					.border_header
						img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
						img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
						.ttl_area_wrapper.sp
							.ttl_area
								.ttl_prefix
									.inner
										p エクステンション
					.border-body
						.border-body_inner
							.sep-sp.sp
							.ttl_area_wrapper
								header.ttl_area
									h3.ttl_prefix.pc
										.ttl エクステンション
							.content_area_wrapper
								.inner-column--2
									.txtbox--has_wave_ttl.box
										h3.linetext--blue--wavy
											span.ttl1 思考と表現のワークショップ
										h4.subttl 金曜 19:00~21:30
										.txt
											p 物語や社会問題を題材に、問いを立て、皆で意見を出して話し合います。<br>フォーラムの企画・主催など、外部の人に対する発信も積極的に行います。
									.txtbox--has_wave_ttl.box
										h3.linetext--blue--wavy
											span.ttl1 個別小論演習
											span.ttl2 (年10回)
										h4.subttl 学習日時は要相談
										.txt
											p AO・推薦入試に合格するための、志望校別・小論文対策講座。
					.inview.inview--to_top--delay1
						img(src=`${assets_prefix}images/mk_img_2.png` width="387" alt="より発展的な学びを追求したい……という方へ")

			section.border-area.border-area--blue.con3
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ホームスクール<br>週1日来校 ＋ 自宅学習
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ホームスクール
									.icon 週1日来校 ＋ 自宅学習
						.content_area_wrapper
							p.size_l 他の子どもが来ない水曜日に来ていただき、1週間の学習内容の相談、カウンセリング、進路指導を個別に行います。
				.inview.inview--to_top--delay1
					img(src=`${assets_prefix}images/mk_img_4.png` width="387" alt="まだ他の子と一緒に学ぶのは……という方へ")
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/mk_img_5.png` width="268" alt="")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower.mk
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--results
						span 進路実績
				.area--normal_border.area--normal_border--results
					table.txttable1
						tr
							th 大学：
							td 同志社大学（文）、立命館大学（国関）、龍谷大学（文）、佛教大学（社会、歴史）、京都産業大学（理）、成安造形大学、京都精華大学（社、芸、デ）、京都学園大学（経）、花園大学（文）、大阪電通通信大学（工）
						tr
							th 短大：
							td 関西外国語短大（英）、光華女子短大（ライフ）、聖母女学院短大（生活）
						tr
							th 専門：
							td 京都桂看護学校、京都府医師会看護学校、南丹看護専門学校、京都自動車専門学校
					.sep
						img(src=`${assets_prefix}images/mk_img_7.png` width="959" alt="")
					h2.mb5
						img(src=`${assets_prefix}images/mk_img_6.png` width="134" alt="その先は......")
					p.blue 自動車ディーラー、助産師、看護師、保育士、パティシエ、立命館大学大学院、カリフォルニア大学留学、学習塾室長、人材派遣会社、電気機器メーカー、中学教員、デザイナー、トリマー…
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入学金　¥100,000
						.aside
							p ● 価格は全て税別です。<br>● ハイスクール入学時には、活動費¥6,000/月が別途かかります。<br>● 学費には教材費など諸費を含みます。
					.info
						.left
							table
								tr
									th ハイスクール
									td 64,000円／月
								tr
									th ホームスクール
									td 36,000円／月
						.right
							h3.ttl エクステンション
							table
								tr
									th 思考と表現のワークショップ
									td 8,000円／月
								tr
									th 個別小論演習
									td 20,000円／月
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ　→　保護者面談　→　本人面談　→　無料体験1週間　→　入学
					p.sub ※ [ 1ヶ月返金保証制度 ] 入学後1ヶ月以内に通学できなくなった場合、入学金と翌月分以降の年間活動費を返金いたします。
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower.mk
		.backgrond-color__inner
			section.mk_link
				h2.ac
					img(src=`${assets_prefix}images/ttl_aruhi.png` width="148" height="24" alt="ある日の学び")
				p.ac
					a(href='/aruhi', style='margin-top:7px;')
						img(src=`${assets_prefix}images/btn_mk_2.png`, width='870', height='318', alt='ある日の学び')
