wp-content/themes/highschool/assets/sotsugyo.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="graduate">
      <header class="lower_header lower_header--graduate">
        <h1 class="ttl"><span>卒業生より</span></h1>
      </header>
      <div class="backgrond-color--lightblue iv1">
        <p class="gr_mv"><img src="./images/gr_img_1.png" width="796" alt=""></p>
        <div class="lead lead1">
          <div class="content_area">
            <h2><img src="./images/gr_img_2.png" width="297" alt="ハイスクール ふじわらくん"></h2>
            <p><img src="./images/gr_img_4.png" width="431" alt="自分が抱えていた問題に気づかせてもらった。あれこれ言われるし考えさせられるけど居心地がよかった。"></p>
            <div class="img"><img src="./images/gr_img_3.png" width="492" alt=""></div>
          </div>
        </div>
        <section class="step">
          <h2 class="ttl"><img src="./images/gr_ayumi_ttl.png" width="222" alt="これまでの歩み"></h2>
          <div class="content">
            <div class="txt">
              <p>中1の夏、いじめがきっかけで不登校に。<br>中2 夏　～　高3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都学園大学経済学部へ。</p>
            </div>
          </div>
        </section>
        <section class="interview">
          <div class="green txt">
            <p>最初の頃は、めっちゃ腹立ってたわ、おまえに。（笑）「世の中の95%は敵」って言ってたよな。</p>
          </div>
          <div class="black txt">
            <p><span class="head">ふじわら)</span>最初は全てに対して「なんでそんなこと言われなあかんねん」って思ってたし、反抗ばっかりしてましたね。まぁでもガマンしようかな、という感じにだんだんなってきて。今思えば、あれこれ言われるのが嬉しかったんでしょうね。生きている実感が得られたというか。塾長には当時「おまえは100回言ってやっと1回きくな」って言われてました。</p>
          </div>
          <div class="green txt">
            <p>ふじわらは新しいことへの抵抗が強くて、変化を怖がってたよな。枠組みの中に自分を押し込んでしまっている感じがした。それをどう揺さぶろうと毎日考えてたんや。ご両親とも何度も話をして、最初は遠巻きに見ていたお父さんが動いてくれるようになって、だんだん家族も変わっていった。</p>
          </div>
          <div class="black txt">
            <p><span class="head">ふじわら)</span>ここに来るようになって、そういう自分の問題を自覚できるようになったことは大きかったです。枠の中にいることで、向き合うべきことから逃げていたなって。人間的に成長させてもらったなと思います。あのまま普通の学校に行っていたらって考えると、社会で生きていく力はつかなかったんじゃないかな。</p>
          </div>
          <div class="green txt">
            <p>学校とアウラ（現：学びの森）は何が違った？</p>
          </div>
          <div class="black txt">
            <p><span class="head">ふじわら)</span>自然と勉強する気になってしまう環境ですよね。すぐ側に本がたくさんあって気になったことをパッと調べられるし、先生たちがそれに気づいて「こんなんもあるで」って更に知らない世界を見せてくれる。そうそう、何も言ってないのに、調子が悪い時とかも「どうしたん？なんかあったか？」って聞いてくれるんですよ。それで、「実は……」って話ができる。だから居心地がよかったです。<br><br>あぁ、あと、ここに来はじめて間もない頃、朝少し早く教室に着いたら、塾長が一人で窓の外を見てたんです。何してるんやろうと思ったら、外にいるハトと喋ろうとしてたんですよ。「おまえも来い」って呼ばれて、僕も一緒にハトに喋りかけたんですけど、なんかおもしろい人やなって思いました。楽しいところやなって。</p>
          </div>
          <div class="img"><img src="./images/gr_img_5.png" width="322" alt=""></div>
          <div class="green txt">
            <p>今も思考と表現のワークショップに来てくれてるけど、活動はどうや？けっこうおもしろいやろ？</p>
          </div>
          <div class="black txt">
            <p><span class="head">ふじわら)</span>遠慮せずに自分の意見を言えるし、ありきたりな話で終わらないから楽しいですね。大学では議論の場があっても最初から結論が決まっているようなことが多いんですけど、ここでは全然結論が出ない。でも、簡単に結論が出ることの方が少ないと思うんです。思考のワークショップを続けているおかげで、色々なことを自分事として捉えて考える癖がついたと思います。</p>
          </div>
          <div class="img msg"><img class="pc" src="./images/gr_msg_1_pc.png" width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。"><img class="sp" src="./images/gr_msg_1_sp.png" width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。"></div>
        </section>
      </div>
      <div class="backgrond-color--lightgreen iv2">
        <div class="lead lead1">
          <div class="content_area">
            <h2><img src="./images/gr_img_6.png" width="297" alt="ハイスクール みなみくん"></h2>
            <p><img src="./images/gr_img_8.png" width="362" alt="ここに来ると「なんとかなるか」と思えてくる。どんなに重くて暗い悩みも笑い飛ばしてくれるから。"></p>
            <div class="img"><img src="./images/gr_img_7.png" width="513" alt=""></div>
          </div>
        </div>
        <section class="step">
          <h2 class="ttl"><img src="./images/gr_ayumi_ttl.png" width="222" alt="これまでの歩み"></h2>
          <div class="content">
            <div class="txt">
              <p>中1の一学期、クラスの人間関係がきっかけで不登校に。<br>高2～高3 卒業＋卒業後1年の間、アウラ（現：学びの森）に通学。<br>一般入試により佛教大学歴史学部へ。</p>
            </div>
          </div>
        </section>
        <section class="interview">
          <div class="green txt">
            <p>お父さん、お久しぶりです。みなみは今も思考と表現のワークショップにも来てくれてるし、去年も何度かカウンセリングしたよな。おまえがしんどくなった時、お父さんからもお母さんからも電話がかかってきて。</p>
          </div>
          <div class="black txt">
            <p><span class="head">みなみ）</span>大学の単位をとるための作戦を一緒に立ててもらったんですよね。</p>
          </div>
          <div class="black txt">
            <p><span class="head">父）</span>ありがとうございました。紹介していただいた病院でもらった薬も合ったみたいで、随分よくなりました。塾長は私たちにとって水先案内人みたいな存在ですね。いつも頼りにさせてもらってます。</p>
          </div>
          <div class="black txt">
            <p><span class="head">みなみ）</span>塾長と話すと、こんなことで悩んでいるのがあほらしいなと思える。だいたい、てきとうなこと言って笑い飛ばされるから。（笑）なんとかなるか、と思えてくる。</p>
          </div>
          <div class="green txt">
            <p>あの時は、もうおまえが「もう生きてられへん」って言い出して、「なんでや？その中身は何なんや？って整理することから始めたよな。で、大学をやめたいっていう話が出て、どうせなら単位をとってからにしようってことで、簡単に単位をとれる授業を調べたりして……</p>
          </div>
          <div class="black txt">
            <p><span class="head">みなみ)</span>塾長が「とりあえず授業出んでいいし学食で飯食って帰ってこいよ」って言ってくれて、それならできると思って学校に行きだした。行ったら授業を受けなあかんと思い込んでたから、それは助けられたな。</p>
          </div>
          <div class="green txt">
            <p>アウラ（現：学びの森）は、みなみにとってどんな場所なん？</p>
          </div>
          <div class="black txt">
            <p><span class="head">みなみ)</span>色々やらされる。明日も大掃除に来なあかんし。でも別に嫌ではない。ここに来て同年代とちゃんと喋れるようになったかな。それまでは気を使ってうまく話せなかったけど、皆で行事に出かけて、帰ってきてからも教室でトランプしたりして、それが楽しかった。高校を卒業してからも1年間来させてもらったけど、その1年がなかったら大学も続けられなかったと思う。</p>
          </div>
          <div class="black txt">
            <p><span class="head">父)</span>うちは妹も不登校でしたし、ここに来る前は家の中がずっとピリピリしていました。塾長のおかげで、家の中の空気も大きく変わりました。</p>
          </div>
          <div class="img msg"><img class="pc" src="./images/gr_msg_2_pc.png" width="720" alt="今、不登校で悩んでいる方へのメッセージ みなみ) 学びの森のような場所に通うのはお金がかかるけれど、お金を惜しまずにその子に合うところに通わせてあげてほしいです。それで子どもの人生が大きく変わると思うので。"><img class="sp" src="./images/gr_msg_2_sp.png" width="720" alt="父) 自分たちだけで解決しようとしても、何ともならないこともあります。内に抱え込まずに、広く情報を集めて、早めに学びの森のような新たな道や病院など外に助けを求めた方がいいと思います。"></div>
        </section>
      </div>
      <div class="backgrond-color--lightblue navigation nosep">
        <div class="backgrond-color__inner">
          <section class="c_link_1">
            <h2 class="ac"><img src="./images/ttl_method.png" width="73" alt="学び方"></h2>
            <p class="ac"><a href="/manabi1" style="margin-top:7px;"><img src="./images/btn_c_1.png" width="439" alt="自分の力でキャリアを選択し、掴みとる力を。"></a></p>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/highschool/assets/pug/sotsugyo.jade
extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			p.gr_mv
				img(src=`${assets_prefix}images/gr_img_1.png` width="796" alt="")
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_2.png` width="297" alt="ハイスクール ふじわらくん")
					p
						img(src=`${assets_prefix}images/gr_img_4.png` width="431" alt="自分が抱えていた問題に気づかせてもらった。あれこれ言われるし考えさせられるけど居心地がよかった。")
					.img
						img(src=`${assets_prefix}images/gr_img_3.png` width="492" alt="")
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の夏、いじめがきっかけで不登校に。<br>中2 夏　～　高3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都学園大学経済学部へ。
			section.interview
				.green.txt
					p 最初の頃は、めっちゃ腹立ってたわ、おまえに。（笑）「世の中の95%は敵」って言ってたよな。
				.black.txt
					p
						span.head ふじわら)
						| 最初は全てに対して「なんでそんなこと言われなあかんねん」って思ってたし、反抗ばっかりしてましたね。まぁでもガマンしようかな、という感じにだんだんなってきて。今思えば、あれこれ言われるのが嬉しかったんでしょうね。生きている実感が得られたというか。塾長には当時「おまえは100回言ってやっと1回きくな」って言われてました。
				.green.txt
					p ふじわらは新しいことへの抵抗が強くて、変化を怖がってたよな。枠組みの中に自分を押し込んでしまっている感じがした。それをどう揺さぶろうと毎日考えてたんや。ご両親とも何度も話をして、最初は遠巻きに見ていたお父さんが動いてくれるようになって、だんだん家族も変わっていった。
				.black.txt
					p
						span.head ふじわら)
						| ここに来るようになって、そういう自分の問題を自覚できるようになったことは大きかったです。枠の中にいることで、向き合うべきことから逃げていたなって。人間的に成長させてもらったなと思います。あのまま普通の学校に行っていたらって考えると、社会で生きていく力はつかなかったんじゃないかな。
				.green.txt
					p 学校とアウラ（現：学びの森）は何が違った？
				.black.txt
					p
						span.head ふじわら)
						| 自然と勉強する気になってしまう環境ですよね。すぐ側に本がたくさんあって気になったことをパッと調べられるし、先生たちがそれに気づいて「こんなんもあるで」って更に知らない世界を見せてくれる。そうそう、何も言ってないのに、調子が悪い時とかも「どうしたん？なんかあったか？」って聞いてくれるんですよ。それで、「実は……」って話ができる。だから居心地がよかったです。<br><br>あぁ、あと、ここに来はじめて間もない頃、朝少し早く教室に着いたら、塾長が一人で窓の外を見てたんです。何してるんやろうと思ったら、外にいるハトと喋ろうとしてたんですよ。「おまえも来い」って呼ばれて、僕も一緒にハトに喋りかけたんですけど、なんかおもしろい人やなって思いました。楽しいところやなって。
				.img
					img(src=`${assets_prefix}images/gr_img_5.png` width="322" alt="")

				.green.txt
					p 今も思考と表現のワークショップに来てくれてるけど、活動はどうや？けっこうおもしろいやろ？
				.black.txt
					p
						span.head ふじわら)
						| 遠慮せずに自分の意見を言えるし、ありきたりな話で終わらないから楽しいですね。大学では議論の場があっても最初から結論が決まっているようなことが多いんですけど、ここでは全然結論が出ない。でも、簡単に結論が出ることの方が少ないと思うんです。思考のワークショップを続けているおかげで、色々なことを自分事として捉えて考える癖がついたと思います。
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。").pc
					img(src=`${assets_prefix}images/gr_msg_1_sp.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。").sp
		.backgrond-color--lightgreen.iv2
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_6.png` width="297" alt="ハイスクール みなみくん")
					p
						img(src=`${assets_prefix}images/gr_img_8.png` width="362" alt="ここに来ると「なんとかなるか」と思えてくる。どんなに重くて暗い悩みも笑い飛ばしてくれるから。")
					.img
						img(src=`${assets_prefix}images/gr_img_7.png` width="513" alt="")
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の一学期、クラスの人間関係がきっかけで不登校に。<br>高2～高3 卒業＋卒業後1年の間、アウラ（現：学びの森）に通学。<br>一般入試により佛教大学歴史学部へ。
			section.interview
				.green.txt
					p お父さん、お久しぶりです。みなみは今も思考と表現のワークショップにも来てくれてるし、去年も何度かカウンセリングしたよな。おまえがしんどくなった時、お父さんからもお母さんからも電話がかかってきて。
				.black.txt
					p
						span.head みなみ）
						| 大学の単位をとるための作戦を一緒に立ててもらったんですよね。
				.black.txt
					p
						span.head 父）
						| ありがとうございました。紹介していただいた病院でもらった薬も合ったみたいで、随分よくなりました。塾長は私たちにとって水先案内人みたいな存在ですね。いつも頼りにさせてもらってます。
				.black.txt
					p
						span.head みなみ）
						| 塾長と話すと、こんなことで悩んでいるのがあほらしいなと思える。だいたい、てきとうなこと言って笑い飛ばされるから。（笑）なんとかなるか、と思えてくる。
				.green.txt
					p あの時は、もうおまえが「もう生きてられへん」って言い出して、「なんでや？その中身は何なんや？って整理することから始めたよな。で、大学をやめたいっていう話が出て、どうせなら単位をとってからにしようってことで、簡単に単位をとれる授業を調べたりして……
				.black.txt
					p
						span.head みなみ)
						| 塾長が「とりあえず授業出んでいいし学食で飯食って帰ってこいよ」って言ってくれて、それならできると思って学校に行きだした。行ったら授業を受けなあかんと思い込んでたから、それは助けられたな。
				.green.txt
					p アウラ（現：学びの森）は、みなみにとってどんな場所なん？
				.black.txt
					p
						span.head みなみ)
						| 色々やらされる。明日も大掃除に来なあかんし。でも別に嫌ではない。ここに来て同年代とちゃんと喋れるようになったかな。それまでは気を使ってうまく話せなかったけど、皆で行事に出かけて、帰ってきてからも教室でトランプしたりして、それが楽しかった。高校を卒業してからも1年間来させてもらったけど、その1年がなかったら大学も続けられなかったと思う。
				.black.txt
					p
						span.head 父)
						| うちは妹も不登校でしたし、ここに来る前は家の中がずっとピリピリしていました。塾長のおかげで、家の中の空気も大きく変わりました。
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_2_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ みなみ) 学びの森のような場所に通うのはお金がかかるけれど、お金を惜しまずにその子に合うところに通わせてあげてほしいです。それで子どもの人生が大きく変わると思うので。").pc
					img(src=`${assets_prefix}images/gr_msg_2_sp.png` width="720" alt="父) 自分たちだけで解決しようとしても、何ともならないこともあります。内に抱え込まずに、広く情報を集めて、早めに学びの森のような新たな道や病院など外に助けを求めた方がいいと思います。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					p.ac
						a(href='/manabi1', style='margin-top:7px;')
							img(src=`${assets_prefix}images/btn_c_1.png` width="439" alt="自分の力でキャリアを選択し、掴みとる力を。")
