wp-content/themes/highschool/assets/pug/timeline.jade
extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--timeline
		h1.ttl
			span ある日の学び
	.backgrond-color--lightgreen.nosep.timelime_wrap
		.lead
			img(src=`${assets_prefix}images/tl_img1.png` width="447" alt="").img1
			img(src=`${assets_prefix}images/tl_img2.png` width="293" alt="").img2
		.timeline
			.inner
				img(src=`${assets_prefix}images/tl_line.png` width="1211" alt="").tl_line
				.inview.inview--to_top.tl_img03.tl_img
					img(src=`${assets_prefix}images/tl_img3.png` width="423" alt="")
				.inview.inview--to_top.tl_img04.tl_img
					img(src=`${assets_prefix}images/tl_img4.png` width="292" alt="")
				.inview.inview--to_top.tl_img05.tl_img
					img(src=`${assets_prefix}images/tl_img5.png` width="237" alt="")
				.inview.inview--to_top.tl_img06.tl_img
					img(src=`${assets_prefix}images/tl_img6.png` width="297" alt="")
				.inview.inview--to_top.tl_img07.tl_img
					img(src=`${assets_prefix}images/tl_img7.png` width="437" alt="")
				.inview.inview--to_top.tl_img08.tl_img
					img(src=`${assets_prefix}images/tl_img8.png` width="471" alt="")
				.inview.inview--to_top.tl_img09.tl_img
					img(src=`${assets_prefix}images/tl_img9.png` width="332" alt="")
				.inview.inview--to_top.tl_img10.tl_img
					img(src=`${assets_prefix}images/tl_img10.png` width="395" alt="")
				.inview.inview--to_top.tl_img11.tl_img
					img(src=`${assets_prefix}images/tl_img11.png` width="277" alt="")
				.inview.inview--to_top.tl_img12.tl_img
					img(src=`${assets_prefix}images/tl_img12.png` width="215" alt="")
				.inview.inview--to_top.tl_img13.tl_img
					img(src=`${assets_prefix}images/tl_img13.png` width="429" alt="")
				.inview.inview--to_top.tl_img14.tl_img
					img(src=`${assets_prefix}images/tl_img14.png` width="752" alt="")
				.inview.inview--to_top--delay1.tl_img15.tl_img
					img(src=`${assets_prefix}images/tl_img15.png` width="202" alt="")
				.inview.inview--to_top--delay2.tl_img16.tl_img
					img(src=`${assets_prefix}images/tl_img16.png` width="270" alt="")
				.inview.inview--to_top--delay3.tl_img17.tl_img
					img(src=`${assets_prefix}images/tl_img17.png` width="271" alt="")
				.inview.inview--to_top--delay1.tl_img18.tl_img
					img(src=`${assets_prefix}images/tl_img18.png` width="260" alt="")
				.inview.inview--to_top.tl_img19.tl_img
					img(src=`${assets_prefix}images/tl_img19.png` width="392" alt="")
				.inview.inview--to_top.tl_img20.tl_img
					img(src=`${assets_prefix}images/tl_img20.png` width="364" alt="")
				.inview.inview--to_top.tl_img21.tl_img
					img(src=`${assets_prefix}images/tl_img21.png` width="195" alt="")
				.inview.inview--to_top.tl_img22.tl_img
					img(src=`${assets_prefix}images/tl_img22.png` width="352" alt="")
				.inview.inview--to_top.tl_img23.tl_img
					img(src=`${assets_prefix}images/tl_img23.png` width="407" alt="")
				.inview.inview--to_top.tl_img24.tl_img
					img(src=`${assets_prefix}images/tl_img24.png` width="332" alt="")
				.inview.inview--to_top.tl_img25.tl_img
					img(src=`${assets_prefix}images/tl_img25.png` width="227" alt="")
				.inview.inview--to_top.tl_img26.tl_img
					img(src=`${assets_prefix}images/tl_img26.png` width="406" alt="")
				.inview.inview--to_top.tl_img27.tl_img
					img(src=`${assets_prefix}images/tl_img27.png` width="327" alt="")
				.inview.inview--to_top.tl_img28.tl_img
					img(src=`${assets_prefix}images/tl_img28.png` width="482" alt="")
				.inview.inview--to_top.tl_img29.tl_img
					img(src=`${assets_prefix}images/tl_img29.png` width="284" alt="")


		section.tl_blocks
			h2.ac
				img(src=`${assets_prefix}images/tl_img30.png` width="329" alt="")

			.tl_block_1.tl_block
				img(src=`${assets_prefix}images/tl_bg_1.png` width="460" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s1.png` width="155" alt="")
				.txtarea
					p 子どもたちの興味のある分野で「こだわり」を持ち仕事をしている大人を招いて話を聞く「出会い場」。菌に興味がある男の子は菌の研究者を、大学で演劇を学びたい女の子は演劇の先生を。どんな質問をするか、どんな流れで進めるか…事前の準備も自分たちで行います。
				.img
					img(src=`${assets_prefix}images/tl_img31.png` width="310" alt="")
			.tl_block_2.tl_block
				img(src=`${assets_prefix}images/tl_bg_2.png` width="460" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s2.png` width="152" alt="")
				.txtarea
					p 心配事や進路のことなどを1対1でゆっくり話す塾長面談。子どもたちにとっては、誰にも言えなかったことを相談できたり、思いがけない言葉をかけられて自分の気持ちを見つめ直したりできる、大切な時間になっています。大学入試にむけての話はもちろん、どうやって社会に出る練習をするか、アルバイトをしようか、といった相談をすることも。日々の学び方も進路についても、既存の型にはめるのではなく一人ひとりが自分の道を切り拓いていくことを目指しています。
				.img
					img(src=`${assets_prefix}images/tl_img32.png` width="356" alt="")
			.tl_block_3.tl_block
				img(src=`${assets_prefix}images/tl_bg_3.png` width="960" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s3.png` width="194" alt="")
				p.subttl 年に数回、皆で体験活動にでかけます。たとえば…
				.txtarea
					.inner_1
						p.subttl ● 東寺
						p 国語の時間に読んだ「蜘蛛の糸」で描かれている仏教的世界を体感しにいこう！と、東寺の立体曼荼羅を見学に。
						.img
							img(src=`${assets_prefix}images/tl_img33.png` width="221" alt="")
					.inner_2
						p.subttl ● 府民の森ひよし
						p みんなで豚汁と焼き肉、焼きおにぎりを作って食べ、森を散歩したりキャッチボールをしたり、自然の中でめいっぱい遊びました。
						.img
							img(src=`${assets_prefix}images/tl_img34.png` width="285" alt="")
		section.backgrond-color--lightblue.tl_link.nosep
			h2.ac
				img(src=`${assets_prefix}images/ttl_teacher_s.png` width="96" alt="先生たち")
			p.ac
				a(href="/teacher")
					img(src=`${assets_prefix}images/link_img_teacher.png` width="918" alt="学びの森の先生はこんなひと！")

wp-content/themes/highschool/assets/timeline.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body class="home" id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <header class="lower_header lower_header--timeline">
      <h1 class="ttl"><span>ある日の学び</span></h1>
    </header>
    <div class="backgrond-color--lightgreen nosep timelime_wrap">
      <div class="lead"><img class="img1" src="./images/tl_img1.png" width="447" alt=""><img class="img2" src="./images/tl_img2.png" width="293" alt=""></div>
      <div class="timeline">
        <div class="inner"><img class="tl_line" src="./images/tl_line.png" width="1211" alt="">
          <div class="inview inview--to_top tl_img03 tl_img"><img src="./images/tl_img3.png" width="423" alt=""></div>
          <div class="inview inview--to_top tl_img04 tl_img"><img src="./images/tl_img4.png" width="292" alt=""></div>
          <div class="inview inview--to_top tl_img05 tl_img"><img src="./images/tl_img5.png" width="237" alt=""></div>
          <div class="inview inview--to_top tl_img06 tl_img"><img src="./images/tl_img6.png" width="297" alt=""></div>
          <div class="inview inview--to_top tl_img07 tl_img"><img src="./images/tl_img7.png" width="437" alt=""></div>
          <div class="inview inview--to_top tl_img08 tl_img"><img src="./images/tl_img8.png" width="471" alt=""></div>
          <div class="inview inview--to_top tl_img09 tl_img"><img src="./images/tl_img9.png" width="332" alt=""></div>
          <div class="inview inview--to_top tl_img10 tl_img"><img src="./images/tl_img10.png" width="395" alt=""></div>
          <div class="inview inview--to_top tl_img11 tl_img"><img src="./images/tl_img11.png" width="277" alt=""></div>
          <div class="inview inview--to_top tl_img12 tl_img"><img src="./images/tl_img12.png" width="215" alt=""></div>
          <div class="inview inview--to_top tl_img13 tl_img"><img src="./images/tl_img13.png" width="429" alt=""></div>
          <div class="inview inview--to_top tl_img14 tl_img"><img src="./images/tl_img14.png" width="752" alt=""></div>
          <div class="inview inview--to_top--delay1 tl_img15 tl_img"><img src="./images/tl_img15.png" width="202" alt=""></div>
          <div class="inview inview--to_top--delay2 tl_img16 tl_img"><img src="./images/tl_img16.png" width="270" alt=""></div>
          <div class="inview inview--to_top--delay3 tl_img17 tl_img"><img src="./images/tl_img17.png" width="271" alt=""></div>
          <div class="inview inview--to_top--delay1 tl_img18 tl_img"><img src="./images/tl_img18.png" width="260" alt=""></div>
          <div class="inview inview--to_top tl_img19 tl_img"><img src="./images/tl_img19.png" width="392" alt=""></div>
          <div class="inview inview--to_top tl_img20 tl_img"><img src="./images/tl_img20.png" width="364" alt=""></div>
          <div class="inview inview--to_top tl_img21 tl_img"><img src="./images/tl_img21.png" width="195" alt=""></div>
          <div class="inview inview--to_top tl_img22 tl_img"><img src="./images/tl_img22.png" width="352" alt=""></div>
          <div class="inview inview--to_top tl_img23 tl_img"><img src="./images/tl_img23.png" width="407" alt=""></div>
          <div class="inview inview--to_top tl_img24 tl_img"><img src="./images/tl_img24.png" width="332" alt=""></div>
          <div class="inview inview--to_top tl_img25 tl_img"><img src="./images/tl_img25.png" width="227" alt=""></div>
          <div class="inview inview--to_top tl_img26 tl_img"><img src="./images/tl_img26.png" width="406" alt=""></div>
          <div class="inview inview--to_top tl_img27 tl_img"><img src="./images/tl_img27.png" width="327" alt=""></div>
          <div class="inview inview--to_top tl_img28 tl_img"><img src="./images/tl_img28.png" width="482" alt=""></div>
          <div class="inview inview--to_top tl_img29 tl_img"><img src="./images/tl_img29.png" width="284" alt=""></div>
        </div>
      </div>
      <section class="tl_blocks">
        <h2 class="ac"><img src="./images/tl_img30.png" width="329" alt=""></h2>
        <div class="tl_block_1 tl_block"><img src="./images/tl_bg_1.png" width="460" alt="">
          <h3 class="ttl"><img src="./images/ttl_timeline_s1.png" width="155" alt=""></h3>
          <div class="txtarea">
            <p>子どもたちの興味のある分野で「こだわり」を持ち仕事をしている大人を招いて話を聞く「出会い場」。菌に興味がある男の子は菌の研究者を、大学で演劇を学びたい女の子は演劇の先生を。どんな質問をするか、どんな流れで進めるか…事前の準備も自分たちで行います。</p>
          </div>
          <div class="img"><img src="./images/tl_img31.png" width="310" alt=""></div>
        </div>
        <div class="tl_block_2 tl_block"><img src="./images/tl_bg_2.png" width="460" alt="">
          <h3 class="ttl"><img src="./images/ttl_timeline_s2.png" width="152" alt=""></h3>
          <div class="txtarea">
            <p>心配事や進路のことなどを1対1でゆっくり話す塾長面談。子どもたちにとっては、誰にも言えなかったことを相談できたり、思いがけない言葉をかけられて自分の気持ちを見つめ直したりできる、大切な時間になっています。大学入試にむけての話はもちろん、どうやって社会に出る練習をするか、アルバイトをしようか、といった相談をすることも。日々の学び方も進路についても、既存の型にはめるのではなく一人ひとりが自分の道を切り拓いていくことを目指しています。</p>
          </div>
          <div class="img"><img src="./images/tl_img32.png" width="356" alt=""></div>
        </div>
        <div class="tl_block_3 tl_block"><img src="./images/tl_bg_3.png" width="960" alt="">
          <h3 class="ttl"><img src="./images/ttl_timeline_s3.png" width="194" alt=""></h3>
          <p class="subttl">年に数回、皆で体験活動にでかけます。たとえば…</p>
          <div class="txtarea">
            <div class="inner_1">
              <p class="subttl">● 東寺</p>
              <p>国語の時間に読んだ「蜘蛛の糸」で描かれている仏教的世界を体感しにいこう！と、東寺の立体曼荼羅を見学に。</p>
              <div class="img"><img src="./images/tl_img33.png" width="221" alt=""></div>
            </div>
            <div class="inner_2">
              <p class="subttl">● 府民の森ひよし</p>
              <p>みんなで豚汁と焼き肉、焼きおにぎりを作って食べ、森を散歩したりキャッチボールをしたり、自然の中でめいっぱい遊びました。</p>
              <div class="img"><img src="./images/tl_img34.png" width="285" alt=""></div>
            </div>
          </div>
        </div>
      </section>
      <section class="backgrond-color--lightblue tl_link nosep">
        <h2 class="ac"><img src="./images/ttl_teacher_s.png" width="96" alt="先生たち"></h2>
        <p class="ac"><a href="/teacher"><img src="./images/link_img_teacher.png" width="918" alt="学びの森の先生はこんなひと！"></a></p>
      </section>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
