wp-content/themes/freeschool/assets/pug/aruhino.jade
extends layout.pug
block contents
	.concept.hb
		header.lower_header.lower_header--hb
			h1.ttl
				span 日々のようす
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_hb_1.png` width="416" alt="").mv
			.backgrond-color__inner
				section.content_area
					.txt
						p しずかな時もあれば、<br>
						| 笑いがとまらない日もある。<br>
						| 真剣に話し合ったり、答えの出ない問いを考え続けたり、<br>
						| 将来を語ったり、その道を極めるプロの話に衝撃を受けたり……<br>
						| 色んな大人がやってくる。小中学生も色んな考えを持っている。<br>
						| 個性豊かな人が集う学びの森。<br>
						| そんな私たちの日々のようすを、ほんの少しご紹介します。
				section.blocks
					a(href="/aruhi").block.block1
						img(src=`${assets_prefix}images/bg_hb_1.png` width="550" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_1.png` width="147" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_2.png` width="145" alt="ある日の学び")
						.txt
							p
								| 朝やってきて夕方帰るまでの、1日の流れ。<br>
								| 知りたいこと・考えることがたくさんあって<br>
								| 毎日があっという間にすぎていきます！<br>
								| 森の語り場・森の出会い場の様子もぜひご覧ください。
					a(href="/teacher").block.block2
						img(src=`${assets_prefix}images/bg_hb_2.png` width="518" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_2.png` width="154" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_3.png` width="95" alt="先生たち")
						.txt
							p
								| 本や映画のこと、友だちのこと、仕事のこと、社会のこと。<br>
								| 勉強だけじゃなく、私たちと色々な話をしましょう。<br>
								| 悩みも迷いもたくさん経験してきた<br>
								| おもしろい大人が集まっています。
					a(href="/movie").block.block3
						img(src=`${assets_prefix}images/bg_hb_3.png` width="315" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_3.png` width="143" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_4.png` width="68" alt="movie")
						.txt
							p
								| 動画で見る学びの森。<br>
								| 授業や課外活動、卒業式など、<br>
								| ありのままの日々のようすを<br>
								| のぞいてみてください。

wp-content/themes/freeschool/assets/aruhino.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="concept hb">
      <header class="lower_header lower_header--hb">
        <h1 class="ttl"><span>日々のようす</span></h1>
      </header>
      <div class="backgrond-color--lightblue"><img class="mv" src="./images/mv_hb_1.png" width="416" alt="">
        <div class="backgrond-color__inner">
          <section class="content_area">
            <div class="txt">
              <p>しずかな時もあれば、<br></p>
              笑いがとまらない日もある。<br>
              真剣に話し合ったり、答えの出ない問いを考え続けたり、<br>
              将来を語ったり、その道を極めるプロの話に衝撃を受けたり……<br>
              色んな大人がやってくる。小中学生も色んな考えを持っている。<br>
              個性豊かな人が集う学びの森。<br>
              そんな私たちの日々のようすを、ほんの少しご紹介します。
            </div>
          </section>
          <section class="blocks"><a class="block block1" href="/aruhi"><img src="./images/bg_hb_1.png" width="550" alt="">
              <div class="img"><img src="./images/img_hb_1.png" width="147" alt=""></div>
              <h3 class="ttl"><img src="./images/ttl_hb_2.png" width="145" alt="ある日の学び"></h3>
              <div class="txt">
                <p>
                  朝やってきて夕方帰るまでの、1日の流れ。<br>
                  知りたいこと・考えることがたくさんあって<br>
                  毎日があっという間にすぎていきます！<br>
                  森の語り場・森の出会い場の様子もぜひご覧ください。
                </p>
              </div></a><a class="block block2" href="/teacher"><img src="./images/bg_hb_2.png" width="518" alt="">
              <div class="img"><img src="./images/img_hb_2.png" width="154" alt=""></div>
              <h3 class="ttl"><img src="./images/ttl_hb_3.png" width="95" alt="先生たち"></h3>
              <div class="txt">
                <p>
                  本や映画のこと、友だちのこと、仕事のこと、社会のこと。<br>
                  勉強だけじゃなく、私たちと色々な話をしましょう。<br>
                  悩みも迷いもたくさん経験してきた<br>
                  おもしろい大人が集まっています。
                </p>
              </div></a><a class="block block3" href="/movie"><img src="./images/bg_hb_3.png" width="315" alt="">
              <div class="img"><img src="./images/img_hb_3.png" width="143" alt=""></div>
              <h3 class="ttl"><img src="./images/ttl_hb_4.png" width="68" alt="movie"></h3>
              <div class="txt">
                <p>
                  動画で見る学びの森。<br>
                  授業や課外活動、卒業式など、<br>
                  ありのままの日々のようすを<br>
                  のぞいてみてください。
                </p>
              </div></a></section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>
