wp-content/themes/freeschool/assets/concept.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="concept">
      <header class="lower_header lower_header--concept">
        <h1 class="ttl"><span>コンセプト</span></h1>
      </header>
      <div class="backgrond-color--lightblue"><img class="mv" src="./images/mv_concept.png" alt="" width="665">
        <div class="backgrond-color__inner">
          <section class="content_area">
            <h2 class="subttl">不登校を、自由で豊かな学びのはじまりに。</h2>
            <div class="txt">
              <p>好きな机に座り、先生や仲間と会話をしながら<br></p>
              一人ひとりが自分のペースで学習する学びの森。<br>
              <br>
              ここは単なる居場所ではなく、子どもの成長・変容をサポートする場です。<br>
              学びを通じて子どもたちは自信を取り戻し、<br>
              多様な大人との関わりの中で自分の将来を前向きに考えるようになります。<br>
              <br>
              大きく葉を広げるヘゴシダの木の下で、子どもたちは人生を切り拓く力を育むのです。
            </div>
          </section>
        </div>
      </div>
      <div class="backgrond-color--lightgreen">
        <section>
          <h2 class="ttl"><img src="./images/ttl_concept_1.png" width="244" alt="5つのサポート"></h2>
          <div class="c_img_1"><img src="./images/img_c_1.png" width="608" alt="学習 基礎学力の回復、 試験・受験対策、 探究学習 キャリア 進学・就職・留学など 幅広いキャリア支援、 年10回の「出会い場」 心理 カウンセリング、面談、 外部組織との連携サポート 個別理解 ペアレント 年3回の保護者面談、 保護者カウンセリング、 個別相談、 個別カウンセリング、 親の語り場 ナラティブ 月1回の「語り場」 自己変容 能動的なキャリア形成"><a class="btn1" href="/blog/category/cat11/"><img class="rollover" src="./images/btn_c_detail_off.png" width="104" alt="&gt; 詳しく見る"></a><a class="btn2" href="/blog/category/cat10/"><img class="rollover" src="./images/btn_c_detail_off.png" width="104" alt="&gt; 詳しく見る"></a></div>
        </section>
        <section class="msg ac"><img class="pc am" src="./images/img_c_msg_pc.png" width="960" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子"><img class="sp am" src="./images/img_c_msg_sp.png" width="560" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子"></section>
      </div>
      <div class="backgrond-color--lightblue navigation nosep">
        <div class="backgrond-color__inner">
          <section class="c_link_1">
            <h2 class="ac"><img src="./images/ttl_method.png" width="73" alt="学び方"></h2>
            <div class="btn_wrap_mk">
              <ul>
                <li><a href="/manabi1"><img src="./images/btn_mn_1.png" width="280" alt="小学生4~6年"></a></li>
                <li><a href="/manabi2"><img src="./images/btn_mn_2.png" width="280" alt="中学生1~3年"></a></li>
              </ul>
            </div>
          </section>
          <section class="mk_link">
            <h2 class="ac"><img src="./images/ttl_aruhi.png" width="148" height="24" alt="ある日の学び"></h2>
            <p class="ac"><a class="noanim" style="margin-top: 7px;" href="/aruhi"><img class="rollover" src="http://high.manabinomori.local/wp-content/themes/highschool/assets/images/btn_top_manabi_off.png" alt="" width="871"></a></p>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/freeschool/assets/pug/concept.jade
extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span コンセプト
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_concept.png`, alt="",width="665").mv
			.backgrond-color__inner
				section.content_area
					h2.subttl 不登校を、自由で豊かな学びのはじまりに。
					.txt
						p 好きな机に座り、先生や仲間と会話をしながら<br>
						| 一人ひとりが自分のペースで学習する学びの森。<br>
						| <br>
						| ここは単なる居場所ではなく、子どもの成長・変容をサポートする場です。<br>
						| 学びを通じて子どもたちは自信を取り戻し、<br>
						| 多様な大人との関わりの中で自分の将来を前向きに考えるようになります。<br>
						| <br>
						| 大きく葉を広げるヘゴシダの木の下で、子どもたちは人生を切り拓く力を育むのです。
		.backgrond-color--lightgreen
			section
				h2.ttl
					img(src=`${assets_prefix}images/ttl_concept_1.png` width="244" alt="5つのサポート")
				.c_img_1
					img(src=`${assets_prefix}images/img_c_1.png` width="608" alt="学習 基礎学力の回復、 試験・受験対策、 探究学習 キャリア 進学・就職・留学など 幅広いキャリア支援、 年10回の「出会い場」 心理 カウンセリング、面談、 外部組織との連携サポート 個別理解 ペアレント 年3回の保護者面談、 保護者カウンセリング、 個別相談、 個別カウンセリング、 親の語り場 ナラティブ 月1回の「語り場」 自己変容 能動的なキャリア形成")
					a(href="/blog/category/cat11/").btn1
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
					a(href="/blog/category/cat10/").btn2
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
			section.msg.ac
				img(src=`${assets_prefix}images/img_c_msg_pc.png` width="960" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").pc.am
				img(src=`${assets_prefix}images/img_c_msg_sp.png` width="560" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").sp.am

		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
				section.mk_link
					h2.ac
						img(src=`${assets_prefix}images/ttl_aruhi.png`, width='148', height='24', alt='ある日の学び')
					p.ac
						a.noanim(style='margin-top: 7px', href='/aruhi')
							img.rollover(src='http://high.manabinomori.local/wp-content/themes/highschool/assets/images/btn_top_manabi_off.png', alt='', width='871')
