wp-content/themes/freeschool/assets/sotsugyo.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="graduate">
      <header class="lower_header lower_header--graduate">
        <h1 class="ttl"><span>卒業生より</span></h1>
      </header>
      <div class="backgrond-color--lightblue iv1">
        <div class="lead lead1">
          <div class="content_area">
            <h2><img src="./images/gr_img_1_1.png" width="297" alt="フリースクール めぐみちゃん"></h2>
            <p><img src="./images/gr_img_1_3.png" width="477" alt=""></p>
            <div class="img"><img src="./images/gr_img_1_2.png" width="509" alt="学校や大人同士の話よりも、まずはめぐみちゃんを中心に考えましょう」という言葉に救われました。"></div>
          </div>
        </div>
      </div>
      <div class="backgrond-color--lightgreen">
        <section class="step">
          <h2 class="ttl"><img src="./images/gr_ayumi_ttl.png" width="222" alt="これまでの歩み"></h2>
          <div class="content">
            <div class="txt">
              <p>中2の秋、いじめがきっかけで不登校に。<br>中2 秋　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都外大西高等学校国際文化コースへ。現在2年生。</p>
            </div>
          </div>
        </section>
        <section class="interview">
          <div class="green txt">
            <p>お久しぶりです。でも、こないだお電話で「いつも会ってる気がする」っておっしゃってましたね。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>そうなんです。卒業してからも、いつもめぐみが弱っているタイミングで電話をくれますよね。それが不思議で不思議で。家でもしょっちゅうアウラ（現：学びの森）の話が出るんですよ。</p>
          </div>
          <div class="green txt">
            <p>3月に、ニュージーランドのお土産を持ってきてくれたもんな。留学はどうやった？1ヶ月やっけ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">めぐみ)</span>6週間かな。毎日すごく楽しかった。カタコトやけど、英語を話せることが嬉しかったし。ホストファミリーも、色々あったけど皆やさしかった。来年もう1回行きたいなぁ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>ずっと家にいて感情もなくしかけていたこの子が、ニュージーランドに行ったり、カナダからの留学生と一緒に出かけたりできるようになるなんてね……。もともと英語は好きだったけれど、ここに来ていなかったら京都外大の高校を目指すこともなかったと思います。村岡先生に翻訳をさせてもらってたんですよね、最初は簡単な絵本からはじまって。家で見せてくれたノートに「この訳はいいね」とか、先生のコメントが赤字でたくさん書かれていて、私まで嬉しくなっちゃいました。</p>
          </div>
          <div class="img"><img src="./images/gr_img_1_4.png" width="361" alt=""></div>
          <div class="green txt">
            <p>はじめて来てくれた時、お父さんとお母さんが学校とすごくもめている時だった。それで、「それは大人の話やから、まずはめぐみちゃんを中心に考えましょう」とお伝えしたのを覚えています。</p>
          </div>
          <div class="black txt">
            <p><span class="head">父)</span>あの言葉に本当に助けられました。ハッとしましたよ。この子の時間を大事にしなきゃって。ここで人との信頼関係をもう一度築かせてもらって、めぐみにとって本当に恵まれた環境だったと思います。高校に行ってからしばらくは「アウラ（現：学びの森）に戻りたい」って言ってましたね。</p>
          </div>
          <div class="black txt">
            <p><span class="head">めぐみ)</span>ここは木がいっぱいあるし、先生たちが近くにいてすぐに質問できるし、勉強しやすかった。お昼ごはんもそうじも一緒にするから、先生やのに話しやすかったし。「高校ではわからへん問題があっても、先生が来てくれへん」って塾長に話したら「当たり前やろ」って笑われたよね。</p>
          </div>
          <div class="green txt">
            <p>めぐみちゃんは勉強をすごく頑張ってたよな。いつも遅くまで残ってたもんなぁ。数学は嫌いやったけど（笑）</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>でも、数学が苦手なめぐみにもわかるように小牧先生がかみ砕いてかみ砕いて教えてくれて、模試でも平均点くらいは取れるようになったんですよね。</p>
          </div>
          <div class="black txt">
            <p><span class="head">めぐみ)</span>受験前は、ルイくんとか一緒に勉強する仲間がいたから頑張れた。ミホちゃんの存在もめっちゃ大きかったかなぁ。お姉さんみたいで。色んなこと相談したり、オシャレの話したり。お母さんも何かあると「ミホさんに聞いてみ」って言ってた。<br><span class="sub" style="font-size: 12px;font-weight: 500;line-height: 28px;text-align: justify;">※ミホちゃん　当時26歳。看護師をめざし、高卒資格取得のために生徒として通っていました。</span></p>
          </div>
          <div class="img"><img src="./images/gr_img_1_5.png" width="500" alt=""></div>
          <div class="green txt">
            <p>NHKの取材がきた時に、カメラの前で堂々と話すめぐみちゃんを見て、たくましくなったなぁと思ったんや。こんなに喋れるようになったんやって。ますます立派になったなぁ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">めぐみ）</span>そうかなぁ。そうやといいんやけど。でも、本当にアウラ（現：学びの森）にきてよかったと思う。</p>
          </div>
          <div class="black txt">
            <p><span class="head">父)</span>学校とは全然違って、環境もいいし教えてくれる人の質が高いと感じました。めぐみにとっての、もうひとつの家みたいでしたね。私たちはアウラ（現：学びの森）に出会えて救われましたが、フリースクールの存在を知らない方もまだまだ多いと思います。もっと社会に認められ、広まっていってほしいです。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>最後に……これ、めぐみの高校の成績表です。見てやってください。ちょっとお恥ずかしいところもあるんですけど。この冬休み、郵便局の短期バイトも始めたんですよ。すぐ近くなのでお会いするかもしれませんね。</p>
          </div>
          <div class="img"><img src="./images/gr_img_1_6.png" width="613" alt=""></div>
          <div class="img msg"><img class="pc" src="./images/gr_msg_1_1_pc.png" width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。"><img class="sp" src="./images/gr_msg_1_1_sp.png" alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。"></div>
        </section>
      </div>
      <div class="backgrond-color--lightblue navigation nosep">
        <div class="backgrond-color__inner">
          <section class="c_link_1">
            <h2 class="ac"><img src="./images/ttl_method.png" width="73" alt="学び方"></h2>
            <div class="btn_wrap_mk">
              <ul>
                <li><a href="/manabi1"><img src="./images/btn_mn_1.png" width="280" alt="小学生4~6年"></a></li>
                <li><a href="/manabi2"><img src="./images/btn_mn_2.png" width="280" alt="中学生1~3年"></a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/freeschool/assets/pug/sotsugyo.jade
extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_1_1.png` width="297" alt="フリースクール めぐみちゃん")
					p
						img(src=`${assets_prefix}images/gr_img_1_3.png` width="477" alt="")
					.img
						img(src=`${assets_prefix}images/gr_img_1_2.png` width="509" alt="学校や大人同士の話よりも、まずはめぐみちゃんを中心に考えましょう」という言葉に救われました。")
		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中2の秋、いじめがきっかけで不登校に。<br>中2 秋　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都外大西高等学校国際文化コースへ。現在2年生。
			section.interview
				.green.txt
					p お久しぶりです。でも、こないだお電話で「いつも会ってる気がする」っておっしゃってましたね。
				.black.txt
					p
						span.head 母)
						| そうなんです。卒業してからも、いつもめぐみが弱っているタイミングで電話をくれますよね。それが不思議で不思議で。家でもしょっちゅうアウラ（現：学びの森）の話が出るんですよ。
				.green.txt
					p 3月に、ニュージーランドのお土産を持ってきてくれたもんな。留学はどうやった？1ヶ月やっけ。
				.black.txt
					p
						span.head めぐみ)
						| 6週間かな。毎日すごく楽しかった。カタコトやけど、英語を話せることが嬉しかったし。ホストファミリーも、色々あったけど皆やさしかった。来年もう1回行きたいなぁ。
				.black.txt
					p
						span.head 母)
						| ずっと家にいて感情もなくしかけていたこの子が、ニュージーランドに行ったり、カナダからの留学生と一緒に出かけたりできるようになるなんてね……。もともと英語は好きだったけれど、ここに来ていなかったら京都外大の高校を目指すこともなかったと思います。村岡先生に翻訳をさせてもらってたんですよね、最初は簡単な絵本からはじまって。家で見せてくれたノートに「この訳はいいね」とか、先生のコメントが赤字でたくさん書かれていて、私まで嬉しくなっちゃいました。
				.img
					img(src=`${assets_prefix}images/gr_img_1_4.png` width="361" alt="")
				.green.txt
					p はじめて来てくれた時、お父さんとお母さんが学校とすごくもめている時だった。それで、「それは大人の話やから、まずはめぐみちゃんを中心に考えましょう」とお伝えしたのを覚えています。
				.black.txt
					p
						span.head 父)
						| あの言葉に本当に助けられました。ハッとしましたよ。この子の時間を大事にしなきゃって。ここで人との信頼関係をもう一度築かせてもらって、めぐみにとって本当に恵まれた環境だったと思います。高校に行ってからしばらくは「アウラ（現：学びの森）に戻りたい」って言ってましたね。
				.black.txt
					p
						span.head めぐみ)
						| ここは木がいっぱいあるし、先生たちが近くにいてすぐに質問できるし、勉強しやすかった。お昼ごはんもそうじも一緒にするから、先生やのに話しやすかったし。「高校ではわからへん問題があっても、先生が来てくれへん」って塾長に話したら「当たり前やろ」って笑われたよね。
				.green.txt
					p めぐみちゃんは勉強をすごく頑張ってたよな。いつも遅くまで残ってたもんなぁ。数学は嫌いやったけど（笑）
				.black.txt
					p
						span.head 母)
						| でも、数学が苦手なめぐみにもわかるように小牧先生がかみ砕いてかみ砕いて教えてくれて、模試でも平均点くらいは取れるようになったんですよね。
				.black.txt
					p
						span.head めぐみ)
						| 受験前は、ルイくんとか一緒に勉強する仲間がいたから頑張れた。ミホちゃんの存在もめっちゃ大きかったかなぁ。お姉さんみたいで。色んなこと相談したり、オシャレの話したり。お母さんも何かあると「ミホさんに聞いてみ」って言ってた。<br>
						span.sub(style="font-size: 12px;font-weight: 500;line-height: 28px;text-align: justify;") ※ミホちゃん　当時26歳。看護師をめざし、高卒資格取得のために生徒として通っていました。
				.img
					img(src=`${assets_prefix}images/gr_img_1_5.png` width="500" alt="")
				.green.txt
					p NHKの取材がきた時に、カメラの前で堂々と話すめぐみちゃんを見て、たくましくなったなぁと思ったんや。こんなに喋れるようになったんやって。ますます立派になったなぁ。
				.black.txt
					p
						span.head めぐみ）
						| そうかなぁ。そうやといいんやけど。でも、本当にアウラ（現：学びの森）にきてよかったと思う。
				.black.txt
					p
						span.head 父)
						| 学校とは全然違って、環境もいいし教えてくれる人の質が高いと感じました。めぐみにとっての、もうひとつの家みたいでしたね。私たちはアウラ（現：学びの森）に出会えて救われましたが、フリースクールの存在を知らない方もまだまだ多いと思います。もっと社会に認められ、広まっていってほしいです。
				.black.txt
					p
						span.head 母)
						| 最後に……これ、めぐみの高校の成績表です。見てやってください。ちょっとお恥ずかしいところもあるんですけど。この冬休み、郵便局の短期バイトも始めたんですよ。すぐ近くなのでお会いするかもしれませんね。
				.img
					img(src=`${assets_prefix}images/gr_img_1_6.png` width="613" alt="")
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_1_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。").pc
					img(src=`${assets_prefix}images/gr_msg_1_1_sp.png` alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
