wp-content/themes/freeschool/assets/sotsugyo2.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./lib/css/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="./lib/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href=".//lib/css/colorbox/colorbox.css">
  <link rel="stylesheet" href="./css/style.min.css">
  <script>var GROBAL_WAVE_BACKGROUND = '#f5fbef';</script>
</head>
<body id="top">
  <div id="wrap">
    <nav class="spnavi sp" id="spnavi">
      <div id="scroller">
        <ul>
          <li class="nav_1"><a href="">コンセプト</a></li>
          <li class="nav_2"><a href="">卒業生より</a></li>
          <li class="nav_3"><a href="">学び方</a></li>
          <li class="nav_4"><a href="">日々のようす</a>
            <ul class="child">
              <li class="c_nav_1"><a href="">ある日の学び</a></li>
              <li class="c_nav_2"><a href="">先生たち</a></li>
              <li class="c_nav_3"><a href="">movie</a></li>
            </ul>
          </li>
          <li class="nav_5"><a href="">子どもたちの変容</a></li>
          <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
          <li class="nav_7"><a href="">アクセスと概要</a></li>
          <li class="nav_8"><a href="">日誌</a></li>
          <li class="nav_9"><a href="">お問い合わせ</a></li>
          <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
        </ul>
      </div>
    </nav>
    <div class="btn_sp_navi_wrap"><a class="btn_sp_navi nosc nosms" href="#sp"><span class="bar"></span><span class="bar"></span><span class="bar"></span><span class="text">MENU</span></a></div>
    <header class="main_header">
      <div class="inner">
        <h1 class="logo" title="学びの森 ハイスクール"><span>学びの森 ハイスクール</span></h1>
        <aside class="min60"><a href="">60分無料相談</a></aside>
        <aside class="tel"><a class="tel_link" href="tel:0771-29-5800">TEL :</a><span>0771-29-5588</span></aside>
      </div>
      <div class="leaf1 leaf"><img src="./images/img_header--leaf_1.png" alt=""></div>
      <div class="leaf2 leaf"><img src="./images/img_header--leaf_2.png" alt=""></div>
    </header>
    <div class="gnav_wrap">
      <div class="inner">
        <nav class="gnav">
          <ul>
            <li class="nav_1"><a href="">コンセプト</a></li>
            <li class="nav_2"><a href="">卒業生より</a></li>
            <li class="nav_3"><a href="">学び方</a></li>
            <li class="nav_4"><a href="">日々のようす</a>
              <ul class="child">
                <li class="c_nav_1"><a href="">ある日の学び</a></li>
                <li class="c_nav_2"><a href="">先生たち</a></li>
                <li class="c_nav_3"><a href="">movie</a></li>
              </ul>
            </li>
            <li class="nav_5"><a href="">子どもたちの変容</a></li>
            <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
            <li class="nav_7"><a href="">アクセスと概要</a></li>
            <li class="nav_8"><a href="">日誌</a></li>
            <li class="nav_9"><a href="">お問い合わせ</a></li>
            <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="graduate">
      <header class="lower_header lower_header--graduate">
        <h1 class="ttl"><span>卒業生より</span></h1>
      </header>
      <div class="backgrond-color--lightblue iv1">
        <div class="lead lead1">
          <div class="content_area">
            <h2><img src="./images/gr_img_2_1.png" width="297" alt="フリースクール ルイくん"></h2>
            <p><img src="./images/gr_img_2_2.png" width="411" alt="実家みたいに思っちゃってます。ルイの高校受験のために東京まで行ってくださいましたよね。"></p>
            <div class="img"><img src="./images/gr_img_2_3.png" width="509" alt=""></div>
          </div>
        </div>
      </div>
      <div class="backgrond-color--lightgreen">
        <section class="step">
          <h2 class="ttl"><img src="./images/gr_ayumi_ttl.png" width="222" alt="これまでの歩み"></h2>
          <div class="content">
            <div class="txt">
              <p>中1の冬、クラスの人間関係がきっかけで不登校に。<br>中2 春　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、昭和鉄道高等学校へ。現在2年生。</p>
            </div>
          </div>
        </section>
        <section class="interview">
          <div class="green txt">
            <p>ルイ、おまえ、なんかシュッとしたなぁ！東京での生活はどうや？もう実習とかあるんか？</p>
          </div>
          <div class="black txt">
            <p><span class="head">ルイ)</span>こないだ都営地下鉄に行った。テニス部もまぁまぁ楽しいで。学校は変わった人が多いけど、部活にOBが来たりもするから色んな人と話して影響を受けてると思う。</p>
          </div>
          <div class="green txt">
            <p>ルイとは最初に来た時から電車の話ばっかりしてたもんなぁ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">ルイ)</span>青春18切符で家島に行こうっていう話をめっちゃしたよな。うどん食べに！2人でかなり調べたのに、電車の時間が長すぎて結局ボツになったけど。日吉に行ったり、牧場に行ったり、行事がいつも楽しかった。そういえばついこの前、ふじわらからアウラ（現：学びの森）の写真が送られてきたわ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>本当に、鉄道科に進めてよかったです。受験の時も塾長にたくさんお世話になって……内申点をちゃんとつけてほしいって学校や教育委員会に連絡するのも全部ご指導いただいて、その間に塾長はわざわざ東京まで鉄道科の先生に会いに行ってくださったし。</p>
          </div>
          <div class="green txt">
            <p>そうや、東京行ったなぁ。あの時は合格に向けて、3人それぞれ必死に頑張りましたよね。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>「学校に行けないからって成績が全くつかないのはおかしい。課題を与えるなり、別室での受験を認めるなり、学校側が何らかの策を講じるべきだ」と言っていただいたんですよね。それまでは、私ももう気持ちが沈んでしまって、お昼でも家の中が夜みたいに暗かったんです。何も考えられなくなっていました。でもここに来るようになって、「勉強を頑張らせてあげないと。ルイの将来のために私も動かないと。」とやっと思えたんです。</p>
          </div>
          <div class="img"><img src="./images/gr_img_2_4.png" width="500" alt=""></div>
          <div class="green txt">
            <p>実は、出会った頃からルイよりもお母さんの方が心配でした。すごく思い詰めている様子やったから、「大丈夫ですよ」ということをどうにかして伝えたかった。ルイが東京に行く時も、お母さん大丈夫かなぁって思ってたなぁ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span>初めて来させてもらった時から、なんていうか、実家みたいに感じていました。塾長に「まずは、羽を休めて。それからや。」って言っていただいて、すごくほっとしたんです。今もね、何かあったら塾長に相談しようって思っちゃってます。引っ越しが終わって、東京のルイの家から一人で帰る時は新幹線で涙が止まらなかったですね……嬉しいことなのに、寂しくて。私があんまり泣くから隣の人がお弁当を食べられなくなっちゃって、申し訳なかったんですけど……</p>
          </div>
          <div class="green txt">
            <p>そういえばここにNHKの取材が来た時に「長い自分の人生の中で考えたら、不登校なんて大したことじゃないなってわかった」ってルイが言ってたんや。それを聞いて、あぁもうこいつは大丈夫やなって思った。</p>
          </div>
          <div class="black txt">
            <p><span class="head">ルイ）</span>言ったっけそんなこと。（笑）まぁ、結果的にここに来て楽しかったしなぁ。塾長も他の先生も、一人ひとりに対して熱心に向き合ってくれるよな。しっかり話を聞いてくれる。勉強もわかりやすく教えてくれるし。</p>
          </div>
          <div class="black txt">
            <p><span class="head">母)</span> 一人ひとりの存在を認めてくれて、ルイも主役になれたことが本当に嬉しかったです。学校ではどうしても皆一括りにされてしまって、我慢している子や言えない子はそのまま置いていかれてしまうから、ルイにとってはしんどかったんでしょうね……。</p>
          </div>
          <div class="green txt">
            <p>でも、おまえ本当にたくましくなったなぁ。俺も色々がんばろうと思ってるんや。東京にも時々行ってるぞ。次はルイの家に泊めてもらおうかな。うまいもんご馳走するわ。</p>
          </div>
          <div class="black txt">
            <p><span class="head">ルイ)</span>もう十分がんばってるやん！塾長やのに、いつも忙しそうにうろうろしてるよな。東京きたら連絡してや。</p>
          </div>
          <div class="img"><img src="./images/gr_img_2_5.png" width="614" alt=""></div>
          <div class="img msg"><img class="pc" src="./images/gr_msg_2_1_pc.png" width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。"><img class="sp" src="./images/gr_msg_2_1_sp.png" alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。"></div>
        </section>
      </div>
      <div class="backgrond-color--lightblue navigation nosep">
        <div class="backgrond-color__inner">
          <section class="c_link_1">
            <h2 class="ac"><img src="./images/ttl_method.png" width="73" alt="学び方"></h2>
            <div class="btn_wrap_mk">
              <ul>
                <li><a href="/manabi1"><img src="./images/btn_mn_1.png" width="280" alt="小学生4~6年"></a></li>
                <li><a href="/manabi2"><img src="./images/btn_mn_2.png" width="280" alt="中学生1~3年"></a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_img">
        <div class="btns">
          <div class="inner"><a class="btn--gotop" href="#top"></a><a class="btn--inquiry" href=""></a><a class="btn--60mn" href=""></a></div>
        </div>
        <div class="top">
          <canvas id="wave1"></canvas>
        </div>
        <div class="bottom">
          <canvas id="wave2"></canvas>
        </div>
      </div>
      <div class="footer_info">
        <div class="inner">
          <div class="col3 col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="btns"><a class="relate1" href="http://tanq.manabinomori.co.jp" target="_blank">学びの森 探求スクール</a><a class="relate2" href="">学びの森 フリースクール</a></div>
          </div>
          <div class="col2 col">
            <nav class="footer_nav">
              <ul>
                <li class="nav_1"><a href="">コンセプト</a></li>
                <li class="nav_2"><a href="">卒業生より</a></li>
                <li class="nav_3"><a href="">学び方</a></li>
                <li class="nav_4"><a href="">日々のようす</a>
                  <ul class="child">
                    <li class="c_nav_1"><a href="">ある日の学び</a></li>
                    <li class="c_nav_2"><a href="">先生たち</a></li>
                    <li class="c_nav_3"><a href="">movie</a></li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li class="nav_5"><a href="">子どもたちの変容</a></li>
                <li class="nav_6"><a href="">不登校Q&amp;A</a></li>
                <li class="nav_7"><a href="">アクセスと概要</a></li>
                <li class="nav_8"><a href="">日誌</a></li>
                <li class="nav_9"><a href="">お問い合わせ</a></li>
                <li class="fb"><a href="https://www.facebook.com/tanq.manabinomori.co.jp/" target="_blank">Facebook</a></li>
              </ul>
            </nav>
            <div class="meta">
              <p>〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588</p>
            </div>
            <div class="sns"><a href=""><span class="icon--fb">&nbsp;</span><span class="txt">facebook</span></a></div>
          </div>
          <div class="col1 col">
            <h2 class="logo"><a href="">学びの森 ハイスクール</a></h2>
          </div>
        </div>
      </div>
    </footer>
    <div id="responsive_flg"></div>
  </div>
  <script src="./lib/js/jquery/jquery.min.js"></script>
  <script src="./lib/js/lodash/lodash.min.js"></script>
  <script src="./js/bundle.js"></script>
</body></html>

wp-content/themes/freeschool/assets/pug/sotsugyo2.jade
extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_2_1.png` width="297" alt="フリースクール ルイくん")
					p
						img(src=`${assets_prefix}images/gr_img_2_2.png` width="411" alt="実家みたいに思っちゃってます。ルイの高校受験のために東京まで行ってくださいましたよね。")
					.img
						img(src=`${assets_prefix}images/gr_img_2_3.png` width="509" alt="")

		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の冬、クラスの人間関係がきっかけで不登校に。<br>中2 春　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、昭和鉄道高等学校へ。現在2年生。
			section.interview
				.green.txt
					p ルイ、おまえ、なんかシュッとしたなぁ！東京での生活はどうや？もう実習とかあるんか？
				.black.txt
					p
						span.head ルイ)
						| こないだ都営地下鉄に行った。テニス部もまぁまぁ楽しいで。学校は変わった人が多いけど、部活にOBが来たりもするから色んな人と話して影響を受けてると思う。
				.green.txt
					p ルイとは最初に来た時から電車の話ばっかりしてたもんなぁ。
				.black.txt
					p
						span.head ルイ)
						| 青春18切符で家島に行こうっていう話をめっちゃしたよな。うどん食べに！2人でかなり調べたのに、電車の時間が長すぎて結局ボツになったけど。日吉に行ったり、牧場に行ったり、行事がいつも楽しかった。そういえばついこの前、ふじわらからアウラ（現：学びの森）の写真が送られてきたわ。
				.black.txt
					p
						span.head 母)
						| 本当に、鉄道科に進めてよかったです。受験の時も塾長にたくさんお世話になって……内申点をちゃんとつけてほしいって学校や教育委員会に連絡するのも全部ご指導いただいて、その間に塾長はわざわざ東京まで鉄道科の先生に会いに行ってくださったし。
				.green.txt
					p そうや、東京行ったなぁ。あの時は合格に向けて、3人それぞれ必死に頑張りましたよね。
				.black.txt
					p
						span.head 母)
						| 「学校に行けないからって成績が全くつかないのはおかしい。課題を与えるなり、別室での受験を認めるなり、学校側が何らかの策を講じるべきだ」と言っていただいたんですよね。それまでは、私ももう気持ちが沈んでしまって、お昼でも家の中が夜みたいに暗かったんです。何も考えられなくなっていました。でもここに来るようになって、「勉強を頑張らせてあげないと。ルイの将来のために私も動かないと。」とやっと思えたんです。
				.img
					img(src=`${assets_prefix}images/gr_img_2_4.png` width="500" alt="")
				.green.txt
					p 実は、出会った頃からルイよりもお母さんの方が心配でした。すごく思い詰めている様子やったから、「大丈夫ですよ」ということをどうにかして伝えたかった。ルイが東京に行く時も、お母さん大丈夫かなぁって思ってたなぁ。
				.black.txt
					p
						span.head 母)
						| 初めて来させてもらった時から、なんていうか、実家みたいに感じていました。塾長に「まずは、羽を休めて。それからや。」って言っていただいて、すごくほっとしたんです。今もね、何かあったら塾長に相談しようって思っちゃってます。引っ越しが終わって、東京のルイの家から一人で帰る時は新幹線で涙が止まらなかったですね……嬉しいことなのに、寂しくて。私があんまり泣くから隣の人がお弁当を食べられなくなっちゃって、申し訳なかったんですけど……
				.green.txt
					p そういえばここにNHKの取材が来た時に「長い自分の人生の中で考えたら、不登校なんて大したことじゃないなってわかった」ってルイが言ってたんや。それを聞いて、あぁもうこいつは大丈夫やなって思った。
				.black.txt
					p
						span.head ルイ）
						| 言ったっけそんなこと。（笑）まぁ、結果的にここに来て楽しかったしなぁ。塾長も他の先生も、一人ひとりに対して熱心に向き合ってくれるよな。しっかり話を聞いてくれる。勉強もわかりやすく教えてくれるし。
				.black.txt
					p
						span.head 母)
						|  一人ひとりの存在を認めてくれて、ルイも主役になれたことが本当に嬉しかったです。学校ではどうしても皆一括りにされてしまって、我慢している子や言えない子はそのまま置いていかれてしまうから、ルイにとってはしんどかったんでしょうね……。
				.green.txt
					p でも、おまえ本当にたくましくなったなぁ。俺も色々がんばろうと思ってるんや。東京にも時々行ってるぞ。次はルイの家に泊めてもらおうかな。うまいもんご馳走するわ。
				.black.txt
					p
						span.head ルイ)
						| もう十分がんばってるやん！塾長やのに、いつも忙しそうにうろうろしてるよな。東京きたら連絡してや。
				.img
					img(src=`${assets_prefix}images/gr_img_2_5.png` width="614" alt="")
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_2_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。").pc
					img(src=`${assets_prefix}images/gr_msg_2_1_sp.png` alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
